openapi: 3.1.0
info:
  description: ABHA Registration and login APIs
  title: Registration
  version: 1.0.0
servers:
- description: Production
  url: https://api.eka.care
- description: Stage/Sandbox
  url: https://api.dev.eka.care
paths:
  /abdm/na/v1/face-auth/capture:
    post:
      description: Capture PID endpoint is used to capture face-auth pid.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaceAuthCapturePIDRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaceAuthCapturePIDResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Capture Face
  /abdm/na/v1/face-auth/init:
    post:
      description: Face Auth endpoint is used to init face-auth endpoint.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaceAuthInitFaceAuthResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Face Auth Init
  /abdm/na/v1/face-auth/verify:
    post:
      description: Verify PID endpoint is used to verify face-auth pid.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaceAuthVerifyFaceAuthRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify Face
  /abdm/na/v1/profile/login/init:
    post:
      description: Generates an OTP for login. Supports login via Aadhaar number,
        mobile number, ABHA number, and ABHA address.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrLoginOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/profile/login/methods:
    post:
      description: Searches for available authentication methods.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrSearchAuthMethodRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrSearchAuthMethodResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Search Auth Methods
  /abdm/na/v1/profile/login/phr:
    post:
      description: Handles login via Aadhaar number, ABHA number, or mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrPhrAddressLoginRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrVerifyLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Login
  /abdm/na/v1/profile/login/verify:
    post:
      description: Verifies the login OTP. If logging in via ABHA address, this endpoint
        also completes the login process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrVerifyLoginOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrVerifyLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/aadhaar/auto-login:
    post:
      description: API for Auto login
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Auto Login
  /abdm/na/v1/registration/aadhaar/create-phr:
    post:
      description: This API is used to create a new ABHA address
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Create
  /abdm/na/v1/registration/aadhaar/init:
    post:
      description: This endpoint is used to initiate the Aadhaar registration process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/registration/aadhaar/mobile/resend:
    post:
      description: This endpoint is used to resend the mobile otp for aadhaar registration
        process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Mobile Resend OTP
  /abdm/na/v1/registration/aadhaar/mobile/verify:
    post:
      description: This API operates on a skip logic basis. If the mobile number provided
        in the second step differs from the one linked to the Aadhaar, this API will
        be used to verify the new mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Mobile Verify OTP
  /abdm/na/v1/registration/aadhaar/resend:
    post:
      description: This endpoint is used to resend a otp for aadhaar registration
        process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Resend OTP
  /abdm/na/v1/registration/aadhaar/verify:
    post:
      description: This endpoint is used to verify Aadhaar otp generated for registration
        using Aadhaar.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/mobile/create-phr:
    post:
      description: This API is used to create a new ABHA address for the user.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Create
  /abdm/na/v1/registration/mobile/init:
    post:
      description: This endpoint is used to initiate the registration process for
        a mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/registration/mobile/resend:
    post:
      description: This endpoint is used to resend a mobile registration request.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponseType3'
          description: OK
      security:
      - authApiKey: []
      summary: Resend OTP
  /abdm/na/v1/registration/mobile/verify:
    post:
      description: This endpoint allows  to verify a mobile otp.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType3'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/phr/check:
    post:
      description: This API endpoint allows to check whether provided health id is
        already present in system.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsDoesHealthIdExistResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Does Abha Address Exist
  /abdm/na/v1/registration/suggest:
    get:
      description: This API endpoint is used to fetch some suggested abha id that
        are available on the basis of user details.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Middle Name
        in: query
        name: mn
        schema:
          description: Middle Name
          examples:
          - Singh
          type: string
      - description: Last Name
        in: query
        name: ln
        schema:
          description: Last Name
          examples:
          - Kumar
          type: string
      - description: First Name
        in: query
        name: fn
        schema:
          description: First Name
          examples:
          - Raj
          type: string
      - description: Date of Birth (YYYY-MM-DD)
        in: query
        name: dob
        schema:
          description: Date of Birth (YYYY-MM-DD)
          examples:
          - "1990-05-15"
          type: string
      - description: Transaction id received in the previous api.
        in: query
        name: transactionId
        schema:
          description: Transaction id received in the previous api.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsSuggestHealthIdResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Suggest Abha Address
  /abdm/nhcx/v1/claim/preview:
    post:
      description: Builds a claim FHIR bundle from a full claim request without sending
        it. Prefer Preview Claim Bundle once the claim exists.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Optional. Applies the claim's catalogue to the items
        in: query
        name: claim_id
        schema:
          description: Optional. Applies the claim's catalogue to the items
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                abha_number:
                  type: string
                accident_info:
                  $ref: '#/components/schemas/ModelsAccidentInfo'
                admission_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                api_call_id:
                  type: string
                auth_type:
                  description: AuthType "consent" (default) sends the Authentication
                    Consent Questionnaire response and OMITS the biometric X-Token;
                    "biometric" sends UserToken as the X-Token.
                  type: string
                bank_details:
                  $ref: '#/components/schemas/ModelsBankDetails'
                care_team_members:
                  description: Index 0 → primary/responsible (e.g. operating surgeon)
                    Index 1 → assisting role (e.g. anaesthesiologist)
                  items:
                    $ref: '#/components/schemas/ModelsClaimCareTeamMember'
                  type: array
                claim_type:
                  type: string
                claimed_amount:
                  type: number
                clinical_notes:
                  type: string
                consent:
                  $ref: '#/components/schemas/ModelsPreAuthConsent'
                diagnosis:
                  items:
                    $ref: '#/components/schemas/ModelsDiagnosisCoding'
                  type:
                  - array
                  - "null"
                discharge_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                discharge_stage:
                  description: 'DIS valueString: "After surgery"(default) | "Before
                    surgery" | "During surgery"'
                  type: string
                discharge_type:
                  description: '"home"(default) | "mortuary" | "lama" | "dama"'
                  type: string
                documents:
                  description: Legacy document list (kept for backward compat; prefer
                    SupportingDocs)
                  items:
                    $ref: '#/components/schemas/ModelsClaimDocument'
                  type: array
                hfr_facility_id:
                  description: HFR/registry id → provider Organization NPI
                  type: string
                hospital_address:
                  type: string
                hospital_name:
                  type: string
                itemized_billing:
                  items:
                    $ref: '#/components/schemas/ModelsBillingItem'
                  type: array
                member_id:
                  type: string
                patient_details:
                  $ref: '#/components/schemas/ModelsPatientDetails'
                payer_id:
                  type: string
                policy_number:
                  description: Coverage.identifier.value
                  type: string
                policy_period_end:
                  description: '"YYYY-MM-DD"'
                  type: string
                policy_period_start:
                  description: '"YYYY-MM-DD"'
                  type: string
                policy_scheme_name:
                  description: Coverage.class.name e.g. "PM-JAY Health Insurance Scheme"
                  type: string
                preauth_claim_number:
                  type: string
                preauth_number:
                  description: 'preauth_number: PMJAY ref ("PMJAY/HP/S/...") → insurance[].preAuthRef[]
                    preauth_claim_number: CLN UUID from parsed preauth → Claim.related[].claim.identifier
                    api_call_id: x-hcx-api_call_id from preauth submission → reuse
                    in claim to link sessions'
                  type: string
                procedure_codes:
                  items:
                    type: string
                  type: array
                provider_id:
                  type: string
                questionnaire_answers:
                  description: STG questionnaire responses carried over onto the claim
                    (same shape as pre-auth). Each becomes a QuestionnaireResponse
                    resource referenced from Claim.supportingInfo (category STG).
                  items:
                    $ref: '#/components/schemas/ModelsPreAuthQuestionnaireAnswer'
                  type: array
                remarks:
                  type: string
                service_codes:
                  description: fallback if no ItemizedBilling
                  items:
                    type: string
                  type: array
                subscriber_id:
                  type: string
                supporting_docs:
                  description: Embedded as supportingInfo.valueAttachment (NDHM HDS/INV/ATT
                    category codes).
                  items:
                    $ref: '#/components/schemas/ModelsClaimSupportingDoc'
                  type: array
                user_token:
                  type: string
              required:
              - payer_id
              - member_id
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                type:
                - "null"
                - object
          description: OK
      security:
      - authApiKey: []
      summary: Preview Claim Bundle (Full Request)
  /abdm/nhcx/v1/claims:
    get:
      description: Lists claims with their beneficiary.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: facility (default) lists every claim of the calling facility
        in: query
        name: scope
        schema:
          description: facility (default) lists every claim of the calling facility
          enum:
          - facility
          - beneficiary
          type: string
      - description: Lists one beneficiary's claims. Implies scope=beneficiary
        in: query
        name: beneficiary_id
        schema:
          description: Lists one beneficiary's claims. Implies scope=beneficiary
          minimum: 0
          type: integer
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelsClaimListItem'
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
      summary: List Claims
    post:
      description: Creates the claim (the case every later call hangs off) and sends
        the auth-requirements check for the listed procedures. An open claim for the
        same policy and beneficiary is reused. The payer's per-procedure documents
        and questionnaires arrive on the coverage_eligibility request in Get Claim
        Requests.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                admission_type:
                  enum:
                  - planned
                  - emergency
                  type: string
                items:
                  description: Procedures the case is for
                  items:
                    $ref: '#/components/schemas/ModelsCoverageEligibilityItem'
                  type:
                  - array
                  - "null"
                policy_id:
                  minimum: 0
                  type: integer
                registration:
                  $ref: '#/components/schemas/ModelsRegistrationDetails'
                  description: Attendant, emergency justification and child details.
                    Stored on the claim, not sent to the payer
                visit_date:
                  description: Planned date of service, YYYY-MM-DD. Defaults to today
                  type: string
              required:
              - policy_id
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsClaimModel'
          description: Created
      security:
      - authApiKey: []
      summary: Create Claim
  /abdm/nhcx/v1/claims/{claimId}:
    get:
      description: 'Claim summary: status, payer references, turn-around deadlines,
        review path, co-payment and the stages with a saved draft.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsClaimDetail'
          description: OK
      security:
      - authApiKey: []
      summary: Get Claim
  /abdm/nhcx/v1/claims/{claimId}/archive:
    post:
      description: Sets a claim aside so it is not reused. It stays readable. Refused
        with 400 while a pre-auth is live; cancel it first.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsArchiveClaimResult'
          description: OK
      security:
      - authApiKey: []
      summary: Archive Claim
  /abdm/nhcx/v1/claims/{claimId}/biometric-auth/consent:
    get:
      description: Says whether a captured biometric consent for the stage is still
        valid, so you can reuse its user_token instead of capturing again.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: stage
        required: true
        schema:
          enum:
          - Preauth
          - Claim
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsBiometricConsentStatus'
          description: OK
      security:
      - authApiKey: []
      summary: Get Biometric Consent
  /abdm/nhcx/v1/claims/{claimId}/biometric-auth/init:
    post:
      description: Starts a biometric authentication of the claim's beneficiary for
        the pre-auth or claim stage. auth_mode is FINGERPRINT or IRIS. Discharge is
        accepted for Claim.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                auth_mode:
                  type: string
                process:
                  enum:
                  - Preauth
                  - Claim
                  - Discharge
                  type: string
              required:
              - process
              - auth_mode
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsBiometricAuthInitResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Init Biometric Auth
  /abdm/nhcx/v1/claims/{claimId}/biometric-auth/sessions:
    get:
      description: Every biometric verify recorded on the claim. Cyclic claims take
        their cycle_dates from the cycle rows; next_capture_allowed_at is set while
        the 24 hour gap runs.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsBiometricSessionList'
          description: OK
      security:
      - authApiKey: []
      summary: List Biometric Sessions
  /abdm/nhcx/v1/claims/{claimId}/biometric-auth/verify:
    post:
      description: Completes the authentication with the PID block from the RD-service
        scanner. Send the user_token with auth_type biometric on Submit Pre-auth or
        Submit Claim. For cyclic procedures send purpose cycle and procedure_code
        on every treatment visit.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                auth_mode:
                  type: string
                finger_print_auth_pid:
                  type: string
                iris_auth_pid:
                  type: string
                procedure_code:
                  description: 'Scopes a "cycle" capture to one billed procedure.
                    Required in practice when the case has more than one cyclic line
                    (an enhancement can add a second): the payer wants a separate
                    capture per procedure, and without this two same-day captures
                    collide.'
                  type: string
                process:
                  enum:
                  - Preauth
                  - Claim
                  - Discharge
                  type: string
                purpose:
                  description: 'Distinguishes the captures a cyclic course needs:
                    "cycle" for a per-treatment-visit capture, "discharge" for the
                    final one that authenticates the claim, "preauth" for the one
                    on the pre-auth. Optional — defaults to "preauth" on the Preauth
                    stage and "discharge" otherwise, so a non-cyclic flow needs no
                    change. **Send "cycle" for every treatment visit**: only those
                    rows carry the 24h re-capture gap, and only they become the claim''s
                    cycle_dates.'
                  enum:
                  - preauth
                  - cycle
                  - discharge
                  type: string
                txn_id:
                  type: string
              required:
              - process
              - auth_mode
              - txn_id
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsBiometricAuthVerifyResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify Biometric Auth
  /abdm/nhcx/v1/claims/{claimId}/claim:
    post:
      description: 'Submits the final claim after discharge. request_type is empty
        for the first submit, QueryResponse to answer a payer query, FollowUp to resubmit
        a rejected claim. The claimed amount is the sum of itemized_billing. The payer
        answers asynchronously: a 2xx means the request was sent, not approved. Track
        it with the returned request_id on Get Claim Request.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                admission_date:
                  description: 'Optional: when supplied, each claim item''s servicedPeriod
                    spans admission..discharge (the full IPD stay). The case does
                    not currently capture an admission date, so without this the item
                    falls back to the discharge date alone as its serviced date.'
                  format: date-time
                  type:
                  - "null"
                  - string
                auth_type:
                  type: string
                care_team_members:
                  description: NOT case-derivable — supplied by the caller (HMIS)
                    per submission.
                  items:
                    $ref: '#/components/schemas/ModelsClaimCareTeamMember'
                  type: array
                consent:
                  $ref: '#/components/schemas/ModelsPreAuthConsent'
                  description: Beneficiary authentication. AuthType "consent" (default)
                    sends the Authentication Consent Questionnaire response (Consent)
                    and OMITS the biometric X-Token; "biometric" sends UserToken as
                    the X-Token.
                diagnosis:
                  description: The discharge diagnosis — NOT case-derivable (may differ
                    from the pre-auth diagnosis), supplied by the caller.
                  items:
                    $ref: '#/components/schemas/ModelsDiagnosisCoding'
                  type:
                  - array
                  - "null"
                discharge_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                discharge_stage:
                  description: 'DIS valueString: "After surgery"(default) | ...'
                  type: string
                discharge_type:
                  description: '"home"(default) | "mortuary" | "lama" | "dama"'
                  type: string
                itemized_billing:
                  description: 'Carries the client-supplied deltas per line item:
                    service_code, quantity, unit_price. Category/display are optionally
                    enriched server-side from the case''s catalog (catalog_md5); TotalAmount
                    and the overall ClaimedAmount are always server-computed.'
                  items:
                    $ref: '#/components/schemas/ModelsBillingItem'
                  type: array
                remarks:
                  description: Free text; mandatory once the claim is submitted >15
                    days post-discharge. See validateClaimRequest's TAT-band check.
                  type: string
                request_type:
                  description: 'Selects the NHCX workflow for this claim submission,
                    mirroring preauth: "" / "InitialRequest" → first/final claim submit
                    (workflow 15) "QueryResponse" → answer a payer query on this claim
                    (workflow 151) "Resubmission"/"FollowUp" → resubmit a rejected
                    claim (workflow 16) A QueryResponse/Resubmission reuses the SAME
                    Claim.identifier (the payer''s CLN, stored on the claim as claim_ref)
                    so the payer links it to the queried/rejected claim — the correlation
                    id is fresh per exchange, linkage is CLN + workflow id (NHCX bundle-anatomy).
                    Empty = initial.'
                  type: string
                supporting_docs:
                  items:
                    $ref: '#/components/schemas/ModelsClaimSupportingDoc'
                  type: array
                user_token:
                  type: string
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: OK
      security:
      - authApiKey: []
      summary: Submit Claim
  /abdm/nhcx/v1/claims/{claimId}/claim/preview:
    post:
      description: Takes the same body as Submit Claim and returns the exact FHIR
        bundle it would send. Nothing is sent or stored.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                admission_date:
                  description: 'Optional: when supplied, each claim item''s servicedPeriod
                    spans admission..discharge (the full IPD stay). The case does
                    not currently capture an admission date, so without this the item
                    falls back to the discharge date alone as its serviced date.'
                  format: date-time
                  type:
                  - "null"
                  - string
                auth_type:
                  type: string
                care_team_members:
                  description: NOT case-derivable — supplied by the caller (HMIS)
                    per submission.
                  items:
                    $ref: '#/components/schemas/ModelsClaimCareTeamMember'
                  type: array
                consent:
                  $ref: '#/components/schemas/ModelsPreAuthConsent'
                  description: Beneficiary authentication. AuthType "consent" (default)
                    sends the Authentication Consent Questionnaire response (Consent)
                    and OMITS the biometric X-Token; "biometric" sends UserToken as
                    the X-Token.
                diagnosis:
                  description: The discharge diagnosis — NOT case-derivable (may differ
                    from the pre-auth diagnosis), supplied by the caller.
                  items:
                    $ref: '#/components/schemas/ModelsDiagnosisCoding'
                  type:
                  - array
                  - "null"
                discharge_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                discharge_stage:
                  description: 'DIS valueString: "After surgery"(default) | ...'
                  type: string
                discharge_type:
                  description: '"home"(default) | "mortuary" | "lama" | "dama"'
                  type: string
                itemized_billing:
                  description: 'Carries the client-supplied deltas per line item:
                    service_code, quantity, unit_price. Category/display are optionally
                    enriched server-side from the case''s catalog (catalog_md5); TotalAmount
                    and the overall ClaimedAmount are always server-computed.'
                  items:
                    $ref: '#/components/schemas/ModelsBillingItem'
                  type: array
                remarks:
                  description: Free text; mandatory once the claim is submitted >15
                    days post-discharge. See validateClaimRequest's TAT-band check.
                  type: string
                request_type:
                  description: 'Selects the NHCX workflow for this claim submission,
                    mirroring preauth: "" / "InitialRequest" → first/final claim submit
                    (workflow 15) "QueryResponse" → answer a payer query on this claim
                    (workflow 151) "Resubmission"/"FollowUp" → resubmit a rejected
                    claim (workflow 16) A QueryResponse/Resubmission reuses the SAME
                    Claim.identifier (the payer''s CLN, stored on the claim as claim_ref)
                    so the payer links it to the queried/rejected claim — the correlation
                    id is fresh per exchange, linkage is CLN + workflow id (NHCX bundle-anatomy).
                    Empty = initial.'
                  type: string
                supporting_docs:
                  items:
                    $ref: '#/components/schemas/ModelsClaimSupportingDoc'
                  type: array
                user_token:
                  type: string
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                type:
                - "null"
                - object
          description: OK
      security:
      - authApiKey: []
      summary: Preview Claim Bundle
  /abdm/nhcx/v1/claims/{claimId}/claim/reprocess:
    post:
      description: 'One-shot appeal of a rejected claim, or dispute of a claim settled
        with more than 20% deducted. A dispute needs a document; amount defaults to
        and cannot exceed the deduction. Get Claim''s review_path says when this is
        allowed. The payer answers asynchronously: a 2xx means the request was sent,
        not approved. Track it with the returned request_id on Get Claim Request.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  description: 'Optionally overrides the disputed amount for an ERRONEOUS
                    (partial-payment) dispute. Default and maximum: submitted − approved
                    (the deduction). Ignored for a rejected-claim reprocess — the
                    payer requires NO amount there.'
                  type: number
                document:
                  $ref: '#/components/schemas/ServiceReprocessDocument'
                  description: The supporting evidence attached to the dispute Task.
                    MANDATORY for an erroneous (partial-payment) dispute — the payer
                    rejects a document-less erroneous; strongly recommended for a
                    rejected-claim reprocess.
                justification:
                  description: The provider's free-text case for reconsideration.
                    Persisted on the request detail; the wire Task carries the structured
                    reasonCode (the proven sample sends no free-text beyond description).
                  type: string
                reason:
                  $ref: '#/components/schemas/ModelsCodedReason'
                  description: Optionally overrides the claim-state-derived Task.reasonCode
                    with a caller-supplied NDHM code. When nil, the reason is chosen
                    from claim state (partialpayment / claimrejected).
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: OK
      security:
      - authApiKey: []
      summary: Reprocess Claim
  /abdm/nhcx/v1/claims/{claimId}/draft:
    put:
      description: Saves a partly filled pre-auth or claim form without submitting
        it. The body is the same one the stage's submit takes, stored as sent. Read
        it back with Get Claim Request using correlation id draft:Preauth or draft:Claim.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: stage
        required: true
        schema:
          enum:
          - Preauth
          - Claim
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                base_updated_at:
                  description: updated_at from your last save. A newer stored draft
                    is refused with 409
                  type: string
                supporting_docs:
                  description: Send content on first attach, then only the doc_id
                    the save returned
                  items:
                    $ref: '#/components/schemas/ModelsClaimDraftDoc'
                  type: array
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsClaimDraftSaveResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Save Draft
  /abdm/nhcx/v1/claims/{claimId}/payments:
    get:
      description: Every payment notice the payer sent for the claim. Group rows by
        transaction_ref; a transaction's amount is its latest row's amount, not the
        sum.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelsPaymentSummary'
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
      summary: Get Claim Payments
  /abdm/nhcx/v1/claims/{claimId}/preauth:
    post:
      description: 'Submits a pre-auth for the claim. request_type picks the workflow:
        InitialRequest, QueryResponse to answer a payer query, FollowUp to resubmit
        a rejected pre-auth, Enhancement to raise the approved scope. Everything the
        claim already knows (payer, policy, facility, patient) is filled in for you.
        The payer answers asynchronously: a 2xx means the request was sent, not approved.
        Track it with the returned request_id on Get Claim Request.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                auth_type:
                  type: string
                clinical_notes:
                  type: string
                consent:
                  $ref: '#/components/schemas/ModelsPreAuthConsent'
                  description: Beneficiary authentication. AuthType "consent" (default)
                    sends the Authentication Consent Questionnaire response (Consent)
                    and OMITS the biometric X-Token; "biometric" sends UserToken as
                    the X-Token.
                diagnosis:
                  items:
                    $ref: '#/components/schemas/ModelsDiagnosisCoding'
                  type:
                  - array
                  - "null"
                items:
                  description: 'Carries the client-supplied deltas per procedure line:
                    speciality code, procedure code, claim amount, optional stratification
                    code, supporting docs, and questionnaire answers. Names/costs/mandatory-docs
                    are enriched server-side from the case''s catalog (catalog_md5).'
                  items:
                    $ref: '#/components/schemas/ModelsNHCXPreAuthItem'
                  type: array
                planned_end_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                planned_start_date:
                  format: date-time
                  type:
                  - "null"
                  - string
                request_type:
                  type: string
                treating_doctor:
                  $ref: '#/components/schemas/ModelsTreatingDoctor'
                  description: NOT case-derivable — supplied by the caller (HMIS)
                    per submission.
                user_token:
                  type: string
              required:
              - request_type
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: OK
      security:
      - authApiKey: []
      summary: Submit Pre-auth
  /abdm/nhcx/v1/claims/{claimId}/preauth/cancel:
    post:
      description: 'Cancels the claim''s active pre-auth. The claim stays open and
        reusable. The body is optional; without a reason the default is used. The
        payer answers asynchronously: a 2xx means the request was sent, not approved.
        Track it with the returned request_id on Get Claim Request.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                reason:
                  $ref: '#/components/schemas/ModelsCodedReason'
              type: object
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: OK
      security:
      - authApiKey: []
      summary: Cancel Pre-auth
  /abdm/nhcx/v1/claims/{claimId}/requests:
    get:
      description: 'Every exchange with the payer on this claim, oldest first: eligibility,
        pre-auth, claim, communication and more, each with its status and outcome.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelsClaimRequestSummary'
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
      summary: Get Claim Requests
  /abdm/nhcx/v1/claims/{claimId}/requests/{correlationId}:
    get:
      description: 'One exchange in full: what was sent (request_meta, documents),
        the parsed payer answer (response_meta, empty while pending) and the per-item
        verdicts (items).'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      - description: request_id from a submit, or correlation_id from Get Claim Requests
        in: path
        name: correlationId
        required: true
        schema:
          description: request_id from a submit, or correlation_id from Get Claim
            Requests
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsClaimRequestDetail'
          description: OK
      security:
      - authApiKey: []
      summary: Get Claim Request
  /abdm/nhcx/v1/claims/{claimId}/requests/{correlationId}/documents/{docId}:
    get:
      description: Streams a submitted document's bytes with its own content type.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: claim_id returned by Create Claim
        in: path
        name: claimId
        required: true
        schema:
          description: claim_id returned by Create Claim
          minimum: 0
          type: integer
      - in: path
        name: correlationId
        required: true
        schema:
          type: string
      - description: doc_id from the request's documents
        in: path
        name: docId
        required: true
        schema:
          description: doc_id from the request's documents
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
      security:
      - authApiKey: []
      summary: Get Claim Request Document
  /abdm/nhcx/v1/coverage/discovery:
    post:
      description: Asks the payer to find the policy for a member_id and payer_id
        when Search Policies returns nothing. Poll Policy Discovery Status for the
        result.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsPolicyDiscoveryRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: Accepted
      security:
      - authApiKey: []
      summary: Discover Policy
  /abdm/nhcx/v1/coverage/discovery/status:
    get:
      description: Returns status pending until the payer answers, then found with
        the policy_id and product_id. Branch only on status.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: member_id sent to Discover Policy
        in: query
        name: member_id
        required: true
        schema:
          description: member_id sent to Discover Policy
          type: string
      - description: payer_id sent to Discover Policy
        in: query
        name: payer_id
        required: true
        schema:
          description: payer_id sent to Discover Policy
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsPolicyDiscoveryStatus'
          description: OK
      security:
      - authApiKey: []
      summary: Policy Discovery Status
  /abdm/nhcx/v1/payers:
    get:
      description: Lists payers from the NHCX participant registry. The participant_code
        is the payer_id used by every later call.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Case-insensitive payer name substring
        in: query
        name: name
        schema:
          description: Case-insensitive payer name substring
          type: string
      - description: Payer scheme type. Defaults to GOVT
        in: query
        name: schemeType
        schema:
          description: Payer scheme type. Defaults to GOVT
          enum:
          - GOVT
          - PRIVATE
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelsPayer'
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
      summary: Search Payers
  /abdm/nhcx/v1/policies/{policyId}/eligibility:
    post:
      description: Checks the policy is in force and returns the wallet balance, without
        creating a claim. cached true means the answer came from the last check; cached
        false with a request_id means a fresh check went to the payer, so call again
        shortly.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: policy_id from Search Policies or Policy Discovery Status
        in: path
        name: policyId
        required: true
        schema:
          description: policy_id from Search Policies or Policy Discovery Status
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsEligibilityResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Check Eligibility
  /abdm/nhcx/v1/policies/{policyId}/plan/refresh:
    post:
      description: Requests a fresh procedure catalogue (InsurancePlan) for the policy's
        product. Poll List Specialities until it is ready.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: policy_id from Search Policies or Policy Discovery Status
        in: path
        name: policyId
        required: true
        schema:
          description: policy_id from Search Policies or Policy Discovery Status
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsRequestIdModel'
          description: OK
      security:
      - authApiKey: []
      summary: Refresh Plan
  /abdm/nhcx/v1/policies/{policyId}/procedures/{procedureCode}:
    get:
      description: 'Full catalogue detail for a procedure: flags, costs, caps, mandatory
        documents and questionnaires. Check a feature''s flag before reading its cap;
        payers publish non-zero caps on procedures where the feature is off.'
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: policy_id from Search Policies or Policy Discovery Status
        in: path
        name: policyId
        required: true
        schema:
          description: policy_id from Search Policies or Policy Discovery Status
          minimum: 0
          type: integer
      - description: Procedure code from List Procedures
        in: path
        name: procedureCode
        required: true
        schema:
          description: Procedure code from List Procedures
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCatalogProcedure'
          description: OK
      security:
      - authApiKey: []
      summary: Get Procedure
  /abdm/nhcx/v1/policies/{policyId}/specialities:
    get:
      description: Lists the specialities in the policy's procedure catalogue.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: policy_id from Search Policies or Policy Discovery Status
        in: path
        name: policyId
        required: true
        schema:
          description: policy_id from Search Policies or Policy Discovery Status
          minimum: 0
          type: integer
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                properties:
                  specialities:
                    items:
                      $ref: '#/components/schemas/ServiceCatalogSpeciality'
                    type:
                    - array
                    - "null"
                type: object
          description: OK
      security:
      - authApiKey: []
      summary: List Specialities
  /abdm/nhcx/v1/policies/{policyId}/specialities/{specialityCode}/procedures:
    get:
      description: Lists the procedures under one speciality of the policy's catalogue.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: policy_id from Search Policies or Policy Discovery Status
        in: path
        name: policyId
        required: true
        schema:
          description: policy_id from Search Policies or Policy Discovery Status
          minimum: 0
          type: integer
      - description: Speciality code from List Specialities
        in: path
        name: specialityCode
        required: true
        schema:
          description: Speciality code from List Specialities
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                properties:
                  procedures:
                    items:
                      $ref: '#/components/schemas/ServiceCatalogProcedureRef'
                    type:
                    - array
                    - "null"
                type: object
          description: OK
      security:
      - authApiKey: []
      summary: List Procedures
  /abdm/nhcx/v1/policies/search:
    post:
      description: Finds a beneficiary's policies by mobile number, ABHA number or
        member ID. A mobile number can return several family members' policies. When
        nothing comes back, use Policy Discovery.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsGetPolicyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ModelsPolicy'
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
      summary: Search Policies
  /abdm/nhcx/v1/preauth/preview:
    post:
      description: Builds the pre-auth FHIR bundle from a full request without sending
        it.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsPreAuthRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                type:
                - "null"
                - object
          description: OK
      security:
      - authApiKey: []
      summary: Preview Pre-auth Bundle
  /abdm/nhcx/v1/records/adapters:
    get:
      description: Returns the adapter registered for the HIP in X-Hip-Id. Auth headers
        are never returned.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsAdapterResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Get Records Adapter
    post:
      description: Registers where your HIS records API lives and how to call it,
        for the HIP in X-Hip-Id. Each capability is one templated HTTP call with an
        extract map; flows chain them. The records APIs read visit_ids and fhir from
        the finished flow.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsRegisterAdapterRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsAdapterResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Register Records Adapter
  /abdm/nhcx/v1/records/admission/{admissionId}:
    get:
      description: Lists an admission's visit ids through the HIP's registered adapter.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: path
        name: admissionId
        required: true
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsAdmissionVisitsResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Get Admission Visits
  /abdm/nhcx/v1/records/visits/{visitId}:
    get:
      description: Returns a visit's FHIR bundle through the HIP's registered adapter.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: path
        name: visitId
        required: true
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhcxError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsVisitFHIRResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Get Visit FHIR
  /abdm/nhpr/v1/hfr/link:
    post:
      description: Link a facility to the ABDM Bridge
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprUpdateBridgeRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprUpdateBridgeRequest'
          description: OK
      security:
      - authApiKey: []
  /abdm/nhpr/v1/hfr/onboard:
    post:
      description: Onboard Facility
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
[...]
