openapi: 3.1.0
info:
  description: ABHA Registration and login APIs
  title: Registration
  version: 1.0.0
servers:
- description: Production
  url: https://api.eka.care
- description: Stage/Sandbox
  url: https://api.dev.eka.care
paths:
  /abdm/v1/registration/aadhaar/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/abha/check:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExistResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/login:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/resend:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType3'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/pincode/{pincode}:
    get:
      parameters:
      - in: path
        name: pincode
        required: true
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PincodeResolvedPincodeData'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/suggest:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResponse'
          description: OK
      security:
      - authApiKey: []
components:
  schemas:
    CreateRequest:
      properties:
        abha_address:
          description: ABHA Address to be linked with the ABHA Number, example sudo@abdm
          examples:
          - shyam.eka@abdm
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateRequestType2:
      properties:
        abha_address:
          type: string
        profile:
          $ref: '#/components/schemas/DetailsRequest'
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs
        hint:
          description: Hint for the mobile number
          type: string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: ABHA Profile
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          description: Access token for the user
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateResponseType2:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs, will be present if SkipState is abha_end
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        success:
          type: boolean
        token:
          description: Access token for the user, will be present if SkipState is
            abha_end
          type:
          - "null"
          - string
      type: object
    DetailsRequest:
      properties:
        address:
          examples:
          - 123, ABC Street
          type:
          - "null"
          - string
        day_of_birth:
          examples:
          - 1
          type:
          - "null"
          - integer
        first_name:
          examples:
          - Shyam
          type:
          - "null"
          - string
        gender:
          examples:
          - M
          type: string
        last_name:
          examples:
          - Singh
          type:
          - "null"
          - string
        middle_name:
          examples:
          - Kumar
          type:
          - "null"
          - string
        month_of_birth:
          examples:
          - 1
          type:
          - "null"
          - integer
        pincode:
          examples:
          - "110001"
          type:
          - "null"
          - string
        year_of_birth:
          examples:
          - 1990
          type:
          - "null"
          - integer
      type: object
    ErrsGenericError:
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
    ExistRequest:
      properties:
        abha_address:
          type: string
      type: object
    ExistResponse:
      properties:
        exist:
          description: True if the ABHA Address already exists
          type: boolean
      type: object
    InitRequest:
      properties:
        aadhaar_number:
          examples:
          - "123456789012"
          type: string
      type: object
    InitRequestType2:
      properties:
        mobile_number:
          type: string
      type: object
    InitResponse:
      properties:
        hint:
          description: Hint message for the mobile number
          examples:
          - OTP sent successfully to your mobile number ******90973
          type:
          - "null"
          - string
        txn_id:
          description: ' Transaction id for the abha registration'
          examples:
          - 5d060cad-a93b-4edf-p3ef-bd412f69s400
          type: string
      type: object
    InitResponseType2:
      properties:
        hint:
          description: Hint message for the mobile number
          examples:
          - OTP sent successfully to your mobile number ******90973
          type:
          - "null"
          - string
        txn_id:
          description: Transaction id received in the /init API
          examples:
          - 5d060cad-a93b-4edf-p3ef-bd412f69s400
          type: string
      type: object
    LoginRequest:
      properties:
        abha_address:
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    LoginResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs, will be present if SkipState is abha_end
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: Profile of the user, will be present if SkipState is abha_end
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          description: Access token for the user, will be present if SkipState is
            abha_end
          type:
          - "null"
          - string
        txn_id:
          type: string
      type: object
    PincodeResolvedPincodeData:
      properties:
        dist_code:
          examples:
          - "339"
          type: string
        dist_name:
          examples:
          - Ranchi
          type: string
        pincode:
          examples:
          - "834001"
          type: string
        state_code:
          examples:
          - "20"
          type: string
        state_name:
          examples:
          - Jharkhand
          type: string
      type: object
    ProfileResponse:
      properties:
        abha_address:
          examples:
          - shyam@abdm
          type: string
        abha_number:
          examples:
          - 12-3456-7856-8912
          type:
          - "null"
          - string
        address:
          type:
          - "null"
          - string
        day_of_birth:
          type:
          - "null"
          - integer
        first_name:
          type:
          - "null"
          - string
        gender:
          type: string
        kyc_verified:
          type:
          - "null"
          - boolean
        last_name:
          type:
          - "null"
          - string
        middle_name:
          type:
          - "null"
          - string
        mobile:
          type:
          - "null"
          - string
        month_of_birth:
          type:
          - "null"
          - integer
        pincode:
          type:
          - "null"
          - string
        year_of_birth:
          type:
          - "null"
          - integer
      type: object
    RegistrationEkaIds:
      properties:
        oid:
          type:
          - "null"
          - string
        uuid:
          type:
          - "null"
          - string
      type: object
    ResendRequest:
      properties:
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    ResendResponse:
      properties:
        hint:
          type: string
        txn_id:
          type: string
      type: object
    SuggestRequest:
      properties:
        flow:
          enum:
          - aadhaar
          - mobile
          type: string
        txn_id:
          description: Transaction ID received in /init api
          type: string
        user_detail:
          $ref: '#/components/schemas/SuggestUserDetail'
      type: object
    SuggestResponse:
      properties:
        suggestions:
          items:
            type: string
          type:
          - array
          - "null"
      type: object
    SuggestUserDetail:
      properties:
        day_of_birth:
          type: string
        first_name:
          examples:
          - John
          type: string
        last_name:
          type: string
        month_of_birth:
          type: string
        year_of_birth:
          type: string
      type: object
    VerifyAbhaProfile:
      properties:
        abha_address:
          type: string
        name:
          type: string
      type: object
    VerifyRequest:
      properties:
        mobile:
          description: Mobile number to be linked with ABHA, this mobile number can
            be different from the mobile number linked with the Aadhaar. ABHA Created
            will be linked with this mobile number.
          type:
          - "null"
          - string
        otp:
          type:
          - "null"
          - string
        txn_id:
          type: string
      type: object
    VerifyRequestType2:
      properties:
        otp:
          description: OTP received on the mobile number
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyRequestType3:
      properties:
        otp:
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs, will be present if SkipState is abha_end
        hint:
          description: Hint for the mobile number
          type:
          - "null"
          - string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          description: Access token for the user, will be present if SkipState is
            abha_end
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyResponseType2:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        hint:
          type:
          - "null"
          - string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyResponseType3:
      properties:
        abha_profiles:
          description: ABHA profiles, will be present if user has created ABHA.
          items:
            $ref: '#/components/schemas/VerifyAbhaProfile'
          type:
          - array
          - "null"
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        txn_id:
          type: string
      type: object
  securitySchemes:
    authApiKey:
      in: header
      name: auth
      type: apiKey
