openapi: 3.1.0
info:
  description: ABHA Registration and login APIs
  title: Registration
  version: 1.0.0
servers:
- description: Production
  url: https://api.eka.care
- description: Stage/Sandbox
  url: https://api.dev.eka.care
paths:
  /abdm/v1/consents/approve:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/consents/deny:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DenyRequest'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/change:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequest'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/forget/init:
    get:
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/forget/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType4'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/reset:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinRequest'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/set:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinRequest'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType3'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/revoke:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeRequest'
      responses:
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/aadhaar/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/abha/check:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExistResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/login:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/resend:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType2'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/pincode/{pincode}:
    get:
      parameters:
      - in: path
        name: pincode
        required: true
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PincodeResolvedPincodeData'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/registration/suggest:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/request:
    get:
      parameters:
      - description: Consent/Subscription/Authorization ID
        in: query
        name: id
        schema:
          description: Consent/Subscription/Authorization ID
          type: string
      - description: Request type
        in: query
        name: type
        schema:
          description: Request type
          enum:
          - consent
          - subscription
          - authorization
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailsResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/requests:
    get:
      description: API to list all the Subscriptions / Authorization and Consent requests
      parameters:
      - in: query
        name: status
        schema:
          enum:
          - requested
          - granted
          - expired
          - denied
          - revoked
          examples:
          - granted
          type: string
      - in: query
        name: type
        schema:
          enum:
          - consent
          - subscription
          - authorization
          examples:
          - consent
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrsGenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestsResponse'
          description: OK
      security:
      - authApiKey: []
components:
  schemas:
    ApproveConsent:
      properties:
        access_mode:
          type: string
        care_contexts:
          items:
            type: string
          type:
          - array
          - "null"
        duration:
          $ref: '#/components/schemas/CommonsDuration'
        erase_at:
          format: date-time
          type: string
        hi_types:
          items:
            type: string
          type:
          - array
          - "null"
        hip_id:
          type: string
        patient_reference:
          type: string
      type: object
    ApproveRequest:
      properties:
        consents:
          items:
            $ref: '#/components/schemas/ApproveConsent'
          type:
          - array
          - "null"
        id:
          type: string
        pin_detail:
          $ref: '#/components/schemas/CommonsPinDetail'
      type: object
    ApproveResponse:
      properties:
        artefact_ids:
          items:
            type: string
          type:
          - array
          - "null"
      type: object
    ChangeRequest:
      properties:
        new_pin:
          type: string
        old_pin:
          type: string
      type: object
    CommonsDuration:
      properties:
        from:
          description: Start time of the consent
          format: date-time
          type: string
        to:
          description: End time of the consent
          format: date-time
          type: string
      type: object
    CommonsHiType:
      properties:
        display:
          type: string
        enabled:
          type: boolean
        id:
          description: Health Information Type ID
          enum:
          - OPConsultation
          - Prescription
          - DischargeSummary
          - DiagnosticReport
          - ImmunizationRecord
          - HealthDocumentRecord
          - WellnessRecord
          type: string
      type: object
    CommonsHip:
      properties:
        id:
          description: Health Information Provider ID
          examples:
          - INXXXXX
          type: string
        name:
          description: Name of the Health Information Provider
          examples:
          - Apollo Hospital
          type: string
      type: object
    CommonsHiu:
      properties:
        id:
          description: Health Information User ID
          examples:
          - INXXXXX
          type: string
        name:
          description: Name of the Health Information User
          examples:
          - Apollo Hospital
          type: string
      type: object
    CommonsPinDetail:
      properties:
        pin:
          type: string
        scope:
          type: string
      type: object
    CommonsPurpose:
      properties:
        code:
          type: string
        text:
          type: string
      type: object
    CommonsRequester:
      properties:
        name:
          description: Name of the requester.
          examples:
          - Dr John
          type: string
      type: object
    CreateRequest:
      properties:
        abha_address:
          description: ABHA Address to be linked with the ABHA Number, example sudo@abdm
          examples:
          - shyam.eka@abdm
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateRequestType2:
      properties:
        abha_address:
          type: string
        profile:
          $ref: '#/components/schemas/DetailsRequest'
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs
        hint:
          description: Hint for the mobile number
          type: string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: ABHA Profile
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          description: Access token for the user
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    CreateResponseType2:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs, will be present if SkipState is abha_end
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        success:
          type: boolean
        token:
          description: Access token for the user, will be present if SkipState is
            abha_end
          type:
          - "null"
          - string
      type: object
    DenyRequest:
      properties:
        id:
          type: string
        reason:
          type: string
      type: object
    DetailsCareContext:
      properties:
        display:
          type: string
        id:
          type: string
      type: object
    DetailsProviders:
      properties:
        care_contexts:
          items:
            $ref: '#/components/schemas/DetailsCareContext'
          type:
          - array
          - "null"
        hip:
          $ref: '#/components/schemas/CommonsHip'
      type: object
    DetailsRequest:
      properties:
        address:
          examples:
          - 123, ABC Street
          type:
          - "null"
          - string
        day_of_birth:
          examples:
          - 1
          type:
          - "null"
          - integer
        first_name:
          examples:
          - Shyam
          type:
          - "null"
          - string
        gender:
          examples:
          - M
          type: string
        last_name:
          examples:
          - Singh
          type:
          - "null"
          - string
        middle_name:
          examples:
          - Kumar
          type:
          - "null"
          - string
        month_of_birth:
          examples:
          - 1
          type:
          - "null"
          - integer
        pincode:
          examples:
          - "110001"
          type:
          - "null"
          - string
        year_of_birth:
          examples:
          - 1990
          type:
          - "null"
          - integer
      type: object
    DetailsResponse:
      properties:
        access_mode:
          enum:
          - view
          type: string
        created_at:
          format: date-time
          type: string
        duration:
          $ref: '#/components/schemas/CommonsDuration'
        erase_at:
          format: date-time
          type: string
        hi_types:
          description: List of HI Types
          items:
            $ref: '#/components/schemas/CommonsHiType'
          type:
          - array
          - "null"
        hiu:
          $ref: '#/components/schemas/CommonsHiu'
          description: HIU details
        id:
          type: string
        providers:
          $ref: '#/components/schemas/DetailsProviders'
        purpose:
          $ref: '#/components/schemas/CommonsPurpose'
          description: Purpose of the request
        requester:
          $ref: '#/components/schemas/CommonsRequester'
          description: Requester details
        status:
          enum:
          - requested
          - granted
          - expired
          - denied
          - revoked
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    ErrsGenericError:
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
    ExistRequest:
      properties:
        abha_address:
          type: string
      type: object
    ExistResponse:
      properties:
        exist:
          description: True if the ABHA Address already exists
          type: boolean
      type: object
    InitRequest:
      properties:
        aadhaar_number:
          examples:
          - "123456789012"
          type: string
      type: object
    InitRequestType2:
      properties:
        mobile_number:
          type: string
      type: object
    InitResponse:
      properties:
        hint:
          description: Hint message for the mobile number
          examples:
          - OTP sent successfully to your mobile number ******90973
          type:
          - "null"
          - string
        txn_id:
          description: ' Transaction id for the abha registration'
          examples:
          - 5d060cad-a93b-4edf-p3ef-bd412f69s400
          type: string
      type: object
    InitResponseType2:
      properties:
        hint:
          description: Hint message for the mobile number
          examples:
          - OTP sent successfully to your mobile number ******90973
          type:
          - "null"
          - string
        txn_id:
          description: Transaction id received in the /init API
          examples:
          - 5d060cad-a93b-4edf-p3ef-bd412f69s400
          type: string
      type: object
    LoginRequest:
      properties:
        abha_address:
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    LoginResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
          description: Eka IDs, will be present if SkipState is abha_end
        profile:
          $ref: '#/components/schemas/ProfileResponse'
          description: Profile of the user, will be present if SkipState is abha_end
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          description: Access token for the user, will be present if SkipState is
            abha_end
          type:
          - "null"
          - string
        txn_id:
          type: string
      type: object
    PinRequest:
      properties:
        pin:
          type: string
      type: object
    PincodeResolvedPincodeData:
      properties:
        dist_code:
          examples:
          - "339"
          type: string
        dist_name:
          examples:
          - Ranchi
          type: string
        pincode:
          examples:
          - "834001"
          type: string
        state_code:
          examples:
          - "20"
          type: string
        state_name:
          examples:
          - Jharkhand
          type: string
      type: object
    ProfileResponse:
      properties:
        abha_address:
          examples:
          - shyam@abdm
          type: string
        abha_number:
          examples:
          - 12-3456-7856-8912
          type:
          - "null"
          - string
        address:
          type:
          - "null"
          - string
        day_of_birth:
          type:
          - "null"
          - integer
        first_name:
          type:
          - "null"
          - string
        gender:
          type: string
        kyc_verified:
          type:
          - "null"
          - boolean
        last_name:
          type:
          - "null"
          - string
        middle_name:
          type:
          - "null"
          - string
        mobile:
          type:
          - "null"
          - string
        month_of_birth:
          type:
          - "null"
          - integer
        pincode:
          type:
          - "null"
          - string
        year_of_birth:
          type:
          - "null"
          - integer
      type: object
    RegistrationEkaIds:
      properties:
        oid:
          type:
          - "null"
          - string
        uuid:
          type:
          - "null"
          - string
      type: object
    RequestsConsent:
      properties:
        created_at:
          description: Time when the consent was created
          format: date-time
          type: string
        duration:
          $ref: '#/components/schemas/CommonsDuration'
        hiu:
          $ref: '#/components/schemas/CommonsHiu'
          description: Health Information User,the requesting entity Clinic hospital
        id:
          type: string
        purpose:
          $ref: '#/components/schemas/CommonsPurpose'
        requester:
          $ref: '#/components/schemas/CommonsRequester'
      type: object
    RequestsResponse:
      properties:
        consents:
          items:
            $ref: '#/components/schemas/RequestsConsent'
          type:
          - array
          - "null"
      type: object
    ResendRequest:
      properties:
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    ResendResponse:
      properties:
        hint:
          type: string
        txn_id:
          type: string
      type: object
    RevokeRequest:
      properties:
        consent_artefacts:
          items:
            type: string
          type:
          - array
          - "null"
        pin_detail:
          $ref: '#/components/schemas/CommonsPinDetail'
      type: object
    SuggestRequest:
      properties:
        flow:
          enum:
          - aadhaar
          - mobile
          type: string
        txn_id:
          description: Transaction ID received in /init api
          type: string
        user_detail:
          $ref: '#/components/schemas/SuggestUserDetail'
      type: object
    SuggestResponse:
      properties:
        suggestions:
          items:
            type: string
          type:
          - array
          - "null"
      type: object
    SuggestUserDetail:
      properties:
        day_of_birth:
          type: string
        first_name:
          examples:
          - John
          type: string
        last_name:
          type: string
        month_of_birth:
          type: string
        year_of_birth:
          type: string
      type: object
    VerifyAbhaProfile:
      properties:
        abha_address:
          type: string
        name:
          type: string
      type: object
    VerifyRequest:
      properties:
        otp:
          description: OTP received on the mobile number
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyRequestType2:
      properties:
        otp:
          type: string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyRequestType3:
      properties:
        pin:
          type: string
        scope:
          type: string
      type: object
    VerifyRequestType4:
      properties:
        otp:
          type: string
        session_id:
          type: string
      type: object
    VerifyResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        hint:
          type:
          - "null"
          - string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        token:
          type:
          - "null"
          - string
        txn_id:
          description: Transaction ID received in the /init API
          type: string
      type: object
    VerifyResponseType2:
      properties:
        abha_profiles:
          description: ABHA profiles, will be present if user has created ABHA.
          items:
            $ref: '#/components/schemas/VerifyAbhaProfile'
          type:
          - array
          - "null"
        skip_state:
          enum:
          - abha_end
          - confirm_mobile_otp
          - abha_select
          - abha_create
          type: string
        txn_id:
          type: string
      type: object
  securitySchemes:
    authApiKey:
      in: header
      name: auth
      type: apiKey
