openapi: 3.1.0
info:
  title: Registration
  version: 1.0.0
servers:
  - url: https://api.eka.care
  - url: https://api.dev.eka.care
security:
  - apikeyAuth: []
paths:
  /abdm/v1/registration/aadhaar/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/aadhaar/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/aadhaar/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/aadhaar/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyResponse'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/abha/check:
    post:
      parameters:
      - in: query
        name: txn_id
        schema:
          type: string
      - in: query
        name: flow
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormDataSuggestRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/mobile/create:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseType2'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/mobile/init:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType2'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/mobile/login:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/mobile/resend:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponse'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/mobile/verify:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType2'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/pincode/{pincode}:
    get:
      parameters:
      - in: path
        name: pincode
        required: true
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PincodeResolvedPincodeData'
          description: OK
      security:
      - apiKey: []
  /abdm/v1/registration/suggest:
    get:
      parameters:
      - in: query
        name: txn_id
        schema:
          type: string
      - in: query
        name: flow
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        5XX:
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ErrsGenericError'
                type: array
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResponse'
          description: OK
      security:
      - apiKey: []
components:
  schemas:
    CreateRequest:
      properties:
        abha_address:
          example: shyam.eka@abdm
          type: string
        txn_id:
          type: string
      type: object
    CreateRequestType2:
      properties:
        abha_address:
          type: string
        profile:
          $ref: '#/components/schemas/DetailsRequest'
        txn_id:
          type: string
      type: object
    CreateResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        hint:
          type: string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          example: abha_end
          type: string
        token:
          description: Access token for the user
          nullable: true
          type: string
        txn_id:
          type: string
      type: object
    CreateResponseType2:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          type: string
        success:
          type: boolean
        token:
          nullable: true
          type: string
      type: object
    DetailsRequest:
      properties:
        address:
          example: 123, ABC Street
          nullable: true
          type: string
        day_of_birth:
          example: 1
          nullable: true
          type: integer
        first_name:
          example: Shyam
          nullable: true
          type: string
        gender:
          example: M
          type: string
        last_name:
          example: Singh
          nullable: true
          type: string
        middle_name:
          example: Kumar
          nullable: true
          type: string
        month_of_birth:
          example: 1
          nullable: true
          type: integer
        pincode:
          example: "110001"
          nullable: true
          type: string
        year_of_birth:
          example: 1990
          nullable: true
          type: integer
      type: object
    ErrsGenericError:
      properties:
        code:
          type: integer
        message:
          type: string
      type: object
    FormDataSuggestRequest:
      properties:
        flow:
          type: string
        txn_id:
          type: string
      type: object
    InitRequest:
      properties:
        aadhaar_number:
          example: "123456789012"
          nullable: true
          type: string
      type: object
    InitRequestType2:
      properties:
        mobile_number:
          type: string
      type: object
    InitResponse:
      properties:
        hint:
          example: OTP sent successfully to your mobile number ******90973
          nullable: true
          type: string
        txn_id:
          example: 5d060cad-a93b-4edf-p3ef-bd412f69s400
          type: string
      type: object
    InitResponseType2:
      properties:
        hint:
          nullable: true
          type: string
        txn_id:
          type: string
      type: object
    LoginRequest:
      properties:
        abha_address:
          type: string
        txn_id:
          type: string
          description: Transaction id returned in the init api
      type: object
    LoginResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          type: string
        token:
          nullable: true
          type: string
        txn_id:
          type: string
      type: object
    PincodeResolvedPincodeData:
      properties:
        dist_code:
          example: "339"
          type: string
        dist_name:
          example: Ranchi
          type: string
        pincode:
          example: "834001"
          type: string
        state_code:
          example: "20"
          type: string
        state_name:
          example: Jharkhand
          type: string
      type: object
    ProfileResponse:
      properties:
        abha_address:
          example: shyam@abdm
          type: string
        abha_number:
          example: 12-3456-7856-8912
          nullable: true
          type: string
        address:
          nullable: true
          type: string
        day_of_birth:
          nullable: true
          type: integer
        first_name:
          nullable: true
          type: string
        gender:
          type: string
        kyc_verified:
          nullable: true
          type: boolean
        last_name:
          nullable: true
          type: string
        middle_name:
          nullable: true
          type: string
        mobile:
          nullable: true
          type: string
        month_of_birth:
          nullable: true
          type: integer
        pincode:
          nullable: true
          type: string
        year_of_birth:
          nullable: true
          type: integer
      type: object
    RegistrationEkaIds:
      properties:
        oid:
          nullable: true
          type: string
        uuid:
          nullable: true
          type: string
      type: object
    ResendRequest:
      properties:
        txn_id:
          type: string
      type: object
    ResendResponse:
      properties:
        hint:
          type: string
        txn_id:
          type: string
      type: object
    SuggestResponse:
      properties:
        suggestions:
          items:
            type: string
          nullable: true
          type: array
      type: object
    VerifyAbhaProfile:
      properties:
        abha_address:
          type: string
        name:
          type: string
      type: object
    VerifyRequest:
      properties:
        otp:
          nullable: true
          type: string
        txn_id:
          type: string
      type: object
    VerifyRequestType2:
      properties:
        otp:
          type: string
        txn_id:
          type: string
      type: object
    VerifyResponse:
      properties:
        eka:
          $ref: '#/components/schemas/RegistrationEkaIds'
        hint:
          nullable: true
          type: string
        profile:
          $ref: '#/components/schemas/ProfileResponse'
        skip_state:
          type: string
        token:
          nullable: true
          type: string
        txn_id:
          type: string
      type: object
    VerifyResponseType2:
      properties:
        abha_profiles:
          items:
            $ref: '#/components/schemas/VerifyAbhaProfile'
          nullable: true
          type: array
        skip_state:
          example: abha_create
          type: string
        txn_id:
          type: string
      type: object