openapi: 3.1.0
info:
  description: ABHA Registration and login APIs
  title: Registration
  version: 1.0.0
servers:
- description: Production
  url: https://api.eka.care
- description: Stage/Sandbox
  url: https://api.dev.eka.care
paths:
  /abdm/na/v1/profile/login/init:
    post:
      description: Generates an OTP for login. Supports login via Aadhaar number,
        mobile number, ABHA number, and ABHA address.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrLoginOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/profile/login/phr:
    post:
      description: Handles login via Aadhaar number, ABHA number, or mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrPhrAddressLoginRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrVerifyLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Login
  /abdm/na/v1/profile/login/verify:
    post:
      description: Verifies the login OTP. If logging in via ABHA address, this endpoint
        also completes the login process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhrVerifyLoginOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhrVerifyLoginOTPResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/aadhaar/create-phr:
    post:
      description: This API is used to create a new ABHA address
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Create
  /abdm/na/v1/registration/aadhaar/init:
    post:
      description: This endpoint is used to initiate the Aadhaar registration process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/registration/aadhaar/mobile/resend:
    post:
      description: This endpoint is used to resend the mobile otp for aadhaar registration
        process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Mobile Resend OTP
  /abdm/na/v1/registration/aadhaar/mobile/verify:
    post:
      description: This API operates on a skip logic basis. If the mobile number provided
        in the second step differs from the one linked to the Aadhaar, this API will
        be used to verify the new mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Mobile Verify OTP
  /abdm/na/v1/registration/aadhaar/resend:
    post:
      description: This endpoint is used to resend a otp for aadhaar registration
        process.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Resend OTP
  /abdm/na/v1/registration/aadhaar/verify:
    post:
      description: This endpoint is used to verify Aadhaar otp generated for registration
        using Aadhaar.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/mobile/create-phr:
    post:
      description: This API is used to create a new ABHA address for the user.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Create
  /abdm/na/v1/registration/mobile/init:
    post:
      description: This endpoint is used to initiate the registration process for
        a mobile number.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType2'
          description: OK
      security:
      - authApiKey: []
      summary: Generate OTP
  /abdm/na/v1/registration/mobile/resend:
    post:
      description: This endpoint is used to resend a mobile registration request.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendResponseType3'
          description: OK
      security:
      - authApiKey: []
      summary: Resend OTP
  /abdm/na/v1/registration/mobile/verify:
    post:
      description: This endpoint allows  to verify a mobile otp.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponseType3'
          description: OK
      security:
      - authApiKey: []
      summary: Verify OTP
  /abdm/na/v1/registration/phr/check:
    post:
      description: This API endpoint allows to check whether provided health id is
        already present in system.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsDoesHealthIdExistResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Does Abha Address Exist
  /abdm/na/v1/registration/suggest:
    get:
      description: This API endpoint is used to fetch some suggested abha id that
        are available on the basis of user details.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Middle Name
        in: query
        name: mn
        schema:
          description: Middle Name
          examples:
          - Singh
          type: string
      - description: Last Name
        in: query
        name: ln
        schema:
          description: Last Name
          examples:
          - Kumar
          type: string
      - description: First Name
        in: query
        name: fn
        schema:
          description: First Name
          examples:
          - Raj
          type: string
      - description: Date of Birth (YYYY-MM-DD)
        in: query
        name: dob
        schema:
          description: Date of Birth (YYYY-MM-DD)
          examples:
          - "1990-05-15"
          type: string
      - description: Transaction id received in the previous api.
        in: query
        name: transactionId
        schema:
          description: Transaction id received in the previous api.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsSuggestHealthIdResponse'
          description: OK
      security:
      - authApiKey: []
      summary: Suggest Abha Address
  /abdm/uhi/v1/blood-bank/search:
    post:
      description: Search for Blood Bank District Wise
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelSearchBloodBankPayload'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                properties:
                  request_id:
                    type: string
                  status:
                    enum:
                    - SUCCESS
                    - FAILURE
                    examples:
                    - SUCCESS
                    type: string
                type: object
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/blood-bank/search/{request_id}:
    get:
      description: Get Blood Banks which is searched.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Request ID
        in: path
        name: request_id
        required: true
        schema:
          description: Request ID
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelBloodBankStateWiseResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/booking/cancel:
    get:
      description: Retrieve the cancellation status of a physical consultation booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: txn_id
        schema:
          type: string
      - description: Unique Identifier of a Provider in the system.
        in: query
        name: provider_id
        schema:
          description: Unique Identifier of a Provider in the system.
          type: string
      - description: Unique Identifier of any booking.
        in: query
        name: order_id
        schema:
          description: Unique Identifier of any booking.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsCancelStatusResponse'
          description: OK
      security:
      - authApiKey: []
    post:
      description: Cancel a physical consultation booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsCancelOrderRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/booking/confirm:
    get:
      description: Retrieve booking confirmation details, including the OTP that must
        be presented to the doctor before consultation.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: txn_id
        schema:
          type: string
      - description: Unique Identifier of a Provider in the system.
        in: query
        name: provider_id
        schema:
          description: Unique Identifier of a Provider in the system.
          type: string
      - description: Unique Identifier of any booking.
        in: query
        name: order_id
        schema:
          description: Unique Identifier of any booking.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetConfirmResponse'
          description: OK
      security:
      - authApiKey: []
    post:
      description: Confirm a physical consultation booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsConfirmRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/booking/init:
    get:
      description: Fetch initiation response for a physical consultation, including
        terms and conditions, payment modes, and pricing details.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: txn_id
        schema:
          type: string
      - description: Unique Identifier of a Provider in the system.
        in: query
        name: provider_id
        schema:
          description: Unique Identifier of a Provider in the system.
          type: string
      - description: Unique Identifier of any booking.
        in: query
        name: order_id
        schema:
          description: Unique Identifier of any booking.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsAppointmentSummary'
          description: OK
      security:
      - authApiKey: []
    post:
      description: This api is used to Initiate the Booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsInitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/booking/order-status:
    get:
      description: Retrieve the current status of a physical consultation booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: txn_id
        schema:
          type: string
      - description: Unique Identifier of a Provider in the system.
        in: query
        name: provider_id
        schema:
          description: Unique Identifier of a Provider in the system.
          type: string
      - description: Unique Identifier of any booking.
        in: query
        name: order_id
        schema:
          description: Unique Identifier of any booking.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsOrderStatusResponse'
          description: OK
      security:
      - authApiKey: []
    post:
      description: Check the status of a consultation booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsOrderStatusRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/booking/update:
    post:
      description: Update the details of a physical consultation appointment.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsUpdateOrderRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/search/doctors:
    get:
      description: Fetches a list of doctors matching the given search criteria.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsDoctorsSearchResponse'
          description: OK
      security:
      - authApiKey: []
    post:
      description: This api is used to search for doctors.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsDoctorsSearchRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/uhi/v1/physical-consultation/search/doctors/slots:
    get:
      description: Fetches the list of a doctor available consultation slots.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: txn_id
        schema:
          type: string
      - description: Unique Identifier of a Provider in the system.
        in: query
        name: provider_id
        schema:
          description: Unique Identifier of a Provider in the system.
          type: string
      - description: Unique Identifier of any booking.
        in: query
        name: order_id
        schema:
          description: Unique Identifier of any booking.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsSlotsData'
          description: OK
      security:
      - authApiKey: []
    post:
      description: This API is used to search for available consultation slots for
        booking.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsSlotSearchRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetPhysConsCommonResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/care-contexts/discover:
    post:
      description: "ABDM allows a user to find their health records from any health
        facility they have visited via the discovery process. \n\nDiscover API returns
        any unlinked care-context for the ABHA User."
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/care-contexts/discover/link/confirm:
    post:
      description: Confirm linking for discovered care context
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/care-contexts/discover/link/init:
    post:
      description: Initialise the linking for discovered care context.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitRequestType3'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType4'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/care-contexts/link:
    post:
      description: This API is used by HIP to link care contexts.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCareContextLinkingRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "202":
          description: Accepted
      security:
      - authApiKey: []
      summary: Care context linking
  /abdm/v1/care-contexts/link/on-confirm:
    post:
      description: This API is used by HIP to confirm the linking of care contexts
        after OTP verification.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsLinkOnConfirmHmisConnect'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
      summary: Discover Link On Confirm
  /abdm/v1/care-contexts/link/on-init:
    post:
      description: This API is used by HIP to initiate the linking of unlinked health
        records (care contexts). HIP must send an OTP and provide details such as
        OTP expiry and other related information.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsLinkOnInitHmisConnect'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
      summary: Discover Link On Init
  /abdm/v1/care-contexts/linked:
    get:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Unique identifier for the Health Information Provider (HIP).
        in: query
        name: hip_id
        required: true
        schema:
          description: Unique identifier for the Health Information Provider (HIP).
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordsResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/care-contexts/on-discover:
    post:
      description: This API is used to send unlinked care contexts to abdm.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsDiscoverCareContextHmisConnect'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
      summary: Discover On Care Contexts
  /abdm/v1/care-contexts/providers:
    get:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/consents/approve:
    post:
      description: This endpoint is used to approve the consent
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/auto-approval:
    get:
      description: Fetch the auto approval policy settings
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: OK
      security:
      - authApiKey: []
    patch:
      description: Update the auto approval policy settings
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormDataSettingsRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/consents/create:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentCreateConsentRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentCreateConsentResponse'
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/deny:
    post:
      description: This endpoint is used to deny the consent
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DenyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/details:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentConsentDetailReq'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentConsentDetailResp'
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/list:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentListConsentRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentListConsentResponse'
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/change:
    post:
      description: Change the consent pin by providing a old and new pin combination
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/exists:
    get:
      description: Returns if the user has already set the consent pin.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExistResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/forgot/init:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitResponseType3'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/forgot/verify:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType5'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/reset:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/set:
    post:
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/pin/verify:
    post:
      description: Verify the consent pin to approve/revoke consents
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyRequestType4'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/consents/revoke:
    post:
      description: This endpoint is used to revoke the consent
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/hfr/link:
    post:
      description: Link a facility to the ABDM Bridge
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprUpdateBridgeRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprUpdateBridgeRequest'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hfr/onboard:
    post:
      description: Onboard Facility
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprUpdateBridgeRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprOnboardFacilityResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hfr/search/{hfrId}:
    get:
      description: Search Facility
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: Hfr ID
        in: path
        name: hfrId
        required: true
        schema:
          description: Hfr ID
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmInternalNhprRepoModelsFacility'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hip/care-context/data/on-fetch:
    post:
      description: API for HIP to push care context FHIR data to HIU
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordsHipDataPushRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "202":
          description: Accepted
      security:
      - authApiKey: []
  /abdm/v1/hip/onboard:
    post:
      description: Onboard facility
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsAddFacilityRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsAddFacilityResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hip/patient/profile/on-share:
    post:
      description: This API receives the Token Generated by the facility.
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanandshareHipScanAndShareOnRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "202":
          description: Accepted
      security:
      - authApiKey: []
  /abdm/v1/hiu/care-context/data/on-push:
    post:
      description: API for HIU to push care context FHIR parsing status
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordsHiuDataPushRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "202":
          description: Accepted
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/check/available:
    post:
      description: Check HPR ID Availability
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprDoesHprExistRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprDoesHprExistResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/check/exist:
    post:
      description: Check if HPR ID Exists
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprTransactionId'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprEKAIsHPRIDExistsResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/create:
    post:
      description: Create HPR ID
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprEKACreateHPRID'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprEKACreateHPRIDResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/demo/verify:
    post:
      description: Verify Aadhaar Linked Mobile
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprMobileOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprEkaVerifiedResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/init:
    post:
      description: Get Aadhar OTP
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelsHPRIDAadhaarInitRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmInternalNhprRepoModelsHPRIDAadhaarInitRequest'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/mobile/init:
    post:
      description: Generate Mobile OTP
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprMobileOTPRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NhprEkaAadhaarResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/mobile/verify:
    post:
      description: Verify Mobile OTP
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprMobileVerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprEkaAadhaarResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/suggest:
    post:
      description: Get Suggested HPR IDs
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprTransactionId'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type:
                - "null"
                - array
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/hpr/aadhaar/verify:
    post:
      description: Verify Aadhar OTP
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NhprEKAAadhaarVerifyRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandlerTypedAPIResponseGithubComEkaCareNdhmPkgNhprNhprEkaAadhaarResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/profile:
    delete:
      description: This endpoint removes the specified ABHA profile along with all
        associated documents, vital records, and any other related data from the system.<Warning>Please
        note that the ABHA metadata will remain in the ABDM system, as ABDM does not
        provide a delete option</Warning>
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
    get:
      description: Fetches the ABHA profile of the User. <Note>Please cache these
        results locally. We do not recommend calling this API on every page load.
        Evict the cache when there is profile update.</Note>
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
          description: OK
      security:
      - authApiKey: []
    patch:
      description: |-
        Update Profile Details

        <Note>The API expects all the fields returned by the [Get Profiles API](/api-reference/user-app/abdm-connect/profile/details/profile-details) to be included in the PATCH request body.</Note>
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetailsRequestType2'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "204":
          description: No Content
      security:
      - authApiKey: []
  /abdm/v1/profile/asset/card:
    get:
      description: Fetch the ABHA card.<Note>Please cache these results locally. We
        do not recommend calling this API on every page load. Evict the cache when
        there is profile update.</Note>
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/profile/asset/qr:
    get:
      description: Fetch the data for ABHA qr code display. <Note>Please cache these
        results locally. We do not recommend calling this API on every page load.
        Evict the cache when there is profile update.</Note><Warning>There is no fixed
        structure for this JSON; it can vary depending on the creation of ABHA. Generate
        the QR code based on the content of the response body.</Warning>
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - in: query
        name: format
        schema:
          enum:
          - json
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetQRData'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/profile/kyc/init:
    post:
      description: Request otp to initialise the KYC flow
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycGenerateKycOtpRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycGenerateKycOtpResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/profile/kyc/resend:
    post:
      description: Resend otp for KYC
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycResendKycOtpRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycGenerateKycOtpResponse'
          description: OK
      security:
      - authApiKey: []
  /abdm/v1/profile/kyc/verify:
    post:
      description: Verify OTP to complete KYC
      parameters:
      - description: Eka User ID (OID)
        in: header
        name: X-Pt-Id
        schema:
          type: string
      - description: Partner User ID
        in: header
        name: X-Partner-Pt-Id
        schema:
          type: string
      - description: Partner HIP ID
        in: header
        name: X-Hip-Id
        schema:
          type: string
      - description: OID is used to Identify the user.
        in: query
        name: oid
        schema:
          description: OID is used to Identify the user.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycVerifyKycOtpRequest'
      responses:
        4XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
          description: ""
        5XX:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
[...]
