openapi: 3.0.3
info:
  title: Assessment APIs
  version: 1.0.0
servers:
  - url: https://api.eka.care

paths:
  /assessments/components:
    get:
      tags:
        - Components
      summary: List the components
      description: >-
        This API can be used by developers to get info about the components used throughout the assessment. This API is intended to provide knowledge about the Components that developers can use to display in their UI.

      parameters:
        - name: auth
          in: header
          required: True
          description: >-
            The auth token of the user. It is used to authenticate the user.
          schema:
            type: string
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
        - name: Content-Type
          in: header
          description: >-
            The content type of the request. It is used to determine the type of data being sent.
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                data:
                  autosuggest:
                    question:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        question:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              comp:
                                type: string
                              url:
                                type: object
                                properties:
                                  base_url:
                                    type: string
                                    format: uri
                                  query_params:
                                    type: object
                                    properties:
                                      gen:
                                        type: string
                                    additionalProperties: true
                                required:
                                - base_url
                              text:
                                type: string
                              resp:
                                type: array
                                items:
                                  type: string
                              details:
                                type: object
                                properties:
                                  static sections:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        heading:
                                          type: string
                                        items:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              id:
                                                type: string
                                                format: uuid
                                              label:
                                                type: string
                                            required:
                                            - id
                                            - label
                                      required:
                                      - heading
                                      - items
                            required:
                            - id
                            - comp
                            - url
                            - text
                            - details
                        is_mandantory:
                          type: boolean
                        progress:
                          type:
                          - 'null'
                          - integer
                      required:
                      - question
                      - is_mandantory
                      - progress
                    answer:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        response:
                          type: array
                          items:
                            type: object
                            properties:
                              qid:
                                type: integer
                              respid:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                  required:
                                  - id
                            required:
                            - qid
                            - respid
                      required:
                      - response
                  multi_select:
                    question:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        questions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              text:
                                type: string
                              comp:
                                type: string
                              tip:
                                type: string
                              resp:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    label:
                                      type: string
                                  required:
                                  - id
                                  - label
                            required:
                            - id
                            - text
                            - comp
                            - tip
                            - resp
                        progress:
                          type: number
                        is_mandantory:
                          type: boolean
                        success:
                          type: boolean
                      required:
                      - questions
                      - progress
                      - is_mandantory
                      - success
                    answer:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        response:
                          type: array
                          items:
                            type: object
                            properties:
                              qid:
                                type: integer
                              respid:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                  required:
                                  - id
                            required:
                            - qid
                            - respid
                      required:
                      - response
                  radio:
                    question:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        type:
                          type: string
                        questions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              text:
                                type: string
                              option_type:
                                type:
                                - string
                                - 'null'
                              icon:
                                type:
                                - string
                                - 'null'
                              comp:
                                type: string
                              tip:
                                type: string
                              resp:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    label:
                                      type: string
                                    choices:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          label:
                                            type: string
                                        required:
                                        - id
                                        - label
                                  required:
                                  - id
                                  - label
                                  - choices
                            required:
                            - id
                            - text
                            - option_type
                            - icon
                            - comp
                            - tip
                            - resp
                        progress:
                          type: number
                        success:
                          type: boolean
                        is_mandantory:
                          type: boolean
                      required:
                      - type
                      - questions
                      - progress
                      - success
                      - is_mandantory
                    answer:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        response:
                          type: array
                          items:
                            type: object
                            properties:
                              qid:
                                type: integer
                              respid:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                  required:
                                  - id
                            required:
                            - qid
                            - respid
                      required:
                      - response
                  radio_group:
                    question:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        questions:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              text:
                                type: string
                              comp:
                                type: string
                              tip:
                                type: string
                              resp:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    label:
                                      type: string
                                  required:
                                  - id
                                  - label
                            required:
                            - id
                            - text
                            - comp
                            - tip
                            - resp
                        progress:
                          type: number
                        is_mandantory:
                          type: boolean
                        success:
                          type: boolean
                      required:
                      - questions
                      - progress
                      - is_mandantory
                      - success
                    answer:
                      "$schema": http://json-schema.org/draft-07/schema#
                      type: object
                      properties:
                        response:
                          type: array
                          items:
                            type: object
                            properties:
                              qid:
                                type: integer
                              respid:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                  required:
                                  - id
                            required:
                            - qid
                            - respid
                      required:
                      - response
        '4XX':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  error_code: bad_request
                  display_message: "Something went wrong. Please try again."
                  message: Bad Request
