openapi: 3.1.0
info:
  title: Webhook Service for the Clients
  description: |
    The Webhook Service allows clients to register webhooks that are triggered based on specific events. Each webhook is associated with a business_id, client_id, endpoint, and scopes. The scopes defines the type of events that will trigger the webhook.
  version: 1.0.0
servers:
  - url: https://api.eka.care
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The API requires a Bearer token in the Authorization header for authentication.
  schemas:
    RegisterWebhookRequest:
      type: object
      properties:
        event_names:
          type: array
          items:
            type: string
          description: |
            Specifies the type of events that will trigger the webhook.
            - "appointment.created": Trigger on appointment create events.
            - "user.delete": Trigger on user delete events.
          example:
            - "appointment.created"
            - "appointment.updated"
            - "prescription.created"
            - "prescription.updated"
        endpoint:
          type: string
          description: |
            The fully qualified URL where the webhook will send POST requests.
            The URL must be reachable by the webhook service.
          example: "https://example.com/webhook"
        signing_key:
          type: string
          description: |
            A secret key provided by the client for verifying the authenticity of webhook payloads.
            It should be a securely generated, random string.
          example: "supersecretkey"
        protocol:
          type: string
          description: |
            Specifies the protocol or delivery mechanism used for the webhook.
            - "http": Plain HTTP endpoint.
            - "https": Secure HTTPS endpoint.
            - "SQS endpoint": AWS SQS queue URL for message delivery.
            - "Lambda function": AWS Lambda function ARN for direct invocation.
          example: "https"
      required:
        - endpoint

    RegisterWebhookResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the webhook.
          example: "7"
        status:
          type: string
          description: |
            A message indicating the status of the response.
          example: "success"

    WebhookResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the webhook.
          example: "7"
        event_names:
          type: array
          items:
            type: string
          description: |
            The type of events triggering the webhook, based on the `event_names` defined in the request.
          example:
            - "appointment.created"
            - "appointment.updated"
            - "prescription.created"
            - "prescription.updated"
        endpoint:
          type: string
          description: The URL where the webhook sends POST requests.
          example: "https://example.com/webhook"
        signing_key:
          type: string
          description: |
            A secret key used for securing the webhook. This key is optional and may be `null` if not required.
          nullable: true
          example: "supersecretkey"
        client_id:
          type: string
          description: The client-specific identifier for the webhook.
          example: "testing"
        protocol:
          type: string
          description: |
            The protocol used for the webhook communication, defined in the `protocol` field of the request.
          example: "https"
        created_at:
          type: string
          format: date-time
          description: The timestamp when the webhook was created.
          example: "2024-10-07T13:53:52Z"
        updated_at:
          type: string
          format: date-time
          description: The timestamp when the webhook was last updated.
          example: "2024-10-07T13:53:52Z"
        created_by:
          type: string
          description: The identifier of the user or service that created the webhook.
          example: "testing"
        updated_by:
          type: string
          description: The identifier of the user or service that last updated the webhook.
          example: "testing"

    WebhookResponseList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WebhookResponse'
        msg:
          type: string
          description: A message indicating the status of the response.
          example: "success"

    UpdateWebhookRequest:
      type: object
      properties:
        signing_key:
          type: string
          description: |
            A new signing key for securing webhook payloads. This should replace the existing signing key securely.
          example: "newsecretkey"

paths:
  /notification/v1/connect/webhook/subscriptions:
    post:
      tags:
        - Webhooks
      summary: Register Webhook
      description: |
        Registers a new webhook triggered by specific events. Each webhook is linked to a `business_id`, `client_id`, `endpoint`, and `event_names` defining the events that trigger it. The service sends POST requests to the specified URL for these events. The URL must be reachable and preferably secure (HTTPS). Optionally, a signing key can be provided to verify webhook payload authenticity.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterWebhookRequest'
      responses:
        '201':
          description: Webhook registered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterWebhookResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "requested endpoint is already registered"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Unauthorized request"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Internal Server Error"
                      code:
                        type: string
                        example: "SERVER_ERROR"
    get:
      tags:
        - Webhooks
      summary: Get Webhooks
      description: |
        Retrieves all registered webhooks. This endpoint allows partners to get a list of all webhooks that have been registered. Each webhook in the list includes details such as the unique identifier, event names that trigger the webhook, the endpoint URL, the signing key (if provided), the client ID, the protocol used, and timestamps for when the webhook was created and last updated. This information helps partners manage and audit their webhook configurations.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of webhooks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookResponse'
                  msg:
                    type: string
                    description: A message indicating the status of the response.
                    example: "success"
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Unauthorized request"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Internal Server Error"
                      code:
                        type: string
                        example: "SERVER_ERROR"

  /notification/v1/connect/webhook/subscriptions/{id}:
    delete:
      tags:
        - Webhooks
      summary: Delete a Webhook
      description: |
        Deletes an existing webhook based on its ID. This endpoint allows partners to remove a previously registered webhook by specifying its unique identifier in the path parameter. The `id` parameter is required and must match the ID of the webhook to be deleted. Upon successful deletion, the service will no longer send POST requests to the webhook's URL for the specified scope. This operation helps partners manage and clean up their webhook configurations.
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the webhook to be deleted.
          schema:
            type: string
      responses:
        '200':
          description: Webhook deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: A message indicating the status of the response.
                    example: "webhook deleted successfully"
                  msg:
                    type: string
                    description: A message indicating the status of the response.
                    example: "success"
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "requested webhook is not registered"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Unauthorized request"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '404':
          description: Webhook not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Webhook not found"
                      code:
                        type: string
                        example: "INVALID_REQUEST"
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Internal Server Error"
                      code:
                        type: string
                        example: "SERVER_ERROR"