openapi: 3.0.0
info:
  title: Ekacare API & Webhook Documentation
  contact: { }
  version: '1.0'
servers:
- description: Production
  url: https://api.eka.care
- description: Stage/Sandbox
  url: https://api.dev.eka.care
paths:
  /connect-auth/v1/account/login:
    post:
      tags:
        - Auth
      summary: Auth Login
      description: >-
        ### Auth Login API


        The Auth Login API allows clients to authenticate by providing their
        client ID and secret. Upon successful authentication, it responds with
        an access token that is valid for 30 minutes. This token must be
        included in the `auth` header for all subsequent API requests to ensure
        secure access.
      operationId: AuthLogin
      parameters: [ ]
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AuthLoginRequest'
                - example:
                    client_id: testing
                    client_secret: 4440ffe2-07e4-3364-a162-887f7652ae5d
            example:
              client_id: testing
              client_secret: 4440ffe2-07e4-3364-a162-887f7652ae5d
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Thu, 08 Aug 2024 09:38:26 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '170'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            apigw-requestid:
              content:
                text/plain:
                  schema:
                    type: string
                  example: cLvC4gT5BcwEJkg=
            access-control-allow-credentials:
              content:
                text/plain:
                  schema:
                    type: string
                  example: 'true'
            access-control-allow-headers:
              content:
                text/plain:
                  schema:
                    type: string
                  example: >-
                    X-Forwarded-For, X-Forwarded-Proto, User-Agent,
                    Content-Type, Postman-Token, Via, X-Forwarded-Port,
                    X-Amzn-Trace-Id, Targetpod, Forwarded, Content-Length,
                    Apikey, Accept, Accept-Encoding, Content-Type,
                    Content-Length, Accept-Encoding, X-CSRF-Token,
                    Authorization, Origin, Cache-Control, X-Requested-With,
                    Auth, X-Token, X-Token-Exp, Flavour, Locale, Client-Id,
                    Jwt-Payload, Res-Payload, Device-Id, Version, Accept,
                    Resjwttoken, os-version, utm_source, utm_campaign,
                    utm_medium
            access-control-allow-methods:
              content:
                text/plain:
                  schema:
                    type: string
                  example: POST, HEAD, PATCH, OPTIONS, GET, PUT, DELETE
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuthLogin'
                  - example:
                      access_token: >-
                        eyJhbGciOiJIUzI1NiIsInR5cCI010101.eyJleHAiOjE3MjMxMTE3MDYsImlhdCI6MTcyMzEwOTkwNiwiYy1pZCI6InRlc3RpbmcifQ.RqiPmu983VyW8jm1RFW-UrW3m14ZezKqXfBzkKl80
              example:
                access_token: >-
                  eyJhbGciOiJIUzI1NiIsInR5cCI010101.eyJleHAiOjE3MjMxMTE3MDYsImlhdCI6MTcyMzEwOTkwNiwiYy1pZCI6InRlc3RpbmcifQ.RqiPmu983VyW8jm1RFW-UrW3m14ZezKqXfBzkKl80
            application/json; charset=utf-8:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200Success'
                  - example:
                      access_token: >-
                        eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjMxMTE3MDYsImlhdCI6MTcyMzEwOTkwNiwiYy1pZCI6InRlc3RpbmcifQ.RqiPmu983VyW8jm1RFW-UrW3m14ZezKqXfBTkElsoPG
              example:
                access_token: >-
                  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MjMxMTE3MDYsImlhdCI6MTcyMzEwOTkwNiwiYy1pZCI6InRlc3RpbmcifQ.RqiPmu983VyW8jm1RFW-UrW3m14ZezKqXfBTkElsoPG
      deprecated: false
  /v1/business/doctor/patient/add:
    post:
      tags:
        - Patient Registration API
      summary: Add Patient to Directory
      description: >-
        This functionality enables the addition of new patient records to a
        doctor's directory. Users can provide necessary details such as personal
        information, contact details, and medical history to create a new
        patient profile.


        > _In case the patient is already registered with Eka care, then only
        passing the patient eka oid will be enough_ 
        
        
        ### Request Parameters


        Parameter


        | Param | Type | Expected Values | Description | Required/Optional/Not Required
        |

        | --- | --- | --- | --- | --- |

        | patient_oid | string |  | In case patient oid already exists use this
        - no need for whole profile |

        | designation | varchar(10) | Mr./Miss/Mrs./Dr | Patient Designation | Optional |

        | first_name | varchar(100) | Test | First Name | Required |

        | middle_name | varchar(100) |  | Middle Name | Optional |

        | lastName | varchar(100) | Patient | Last Name | Required |

        | dob | Date | 1987-01-06 | Patient DOB | Required |

        | age | varchar(20) | 36 | Patient Age | Optional |

        | mobile | varchar(15) | +919999999999 | Mobile Number with country code | Required
        |

        | gender | varchar(10) | M/F/O | Patient Gender | Required |

        | email | varchar(100) |
        [test@orbi.health](https://mailto:pp@orbi.health) | Patient Email
        Address | Optional |

        | UHID | varchar(20) | VP128 | Unique Health ID | Optional |

        | address | object |  | Address Object | Optional |

        | address.city | varchar(300) | Bangalore | City | Optional |

        | address.line1 | varchar(300) | ABC | Address Line 1 | Optional |

        | address.line2 | varchar(300) | XYZ | Address Line 2 | Optional |

        | address.pincode | int(11) | 560049 | Pincode | Optional |

        | address.state | varchar(100) | Karnataka | State | Optional |

        | address.country | varchar(100) | India | Country | Optional |

        | metadata | object |  | Metadata Object (Set of key-value pairs) | Optional |

        | metadata.blood_group | varchar(10) | AB+ | Blood Group | Optional |

        | metadata.aadhar_number | varchar(20) | 12345 | Aadhar Number | Optional |


        ### Response Parameters


        | Parameter | Type | Expected Values | Description |

        | --- | --- | --- | --- |

        | response | object |  | Response Object |

        | response.patient_oid | string | 1234567890 | Generated Patient OID |

        | response.profile | object |  | Profile Object |

        | response.profile.id | string | 1234567890 | Profile ID |

        | response.profile.created_at | datetime | 2024-06-12T21:55:51.593Z |
        Profile Creation Timestamp |

        | response.profile.updated_at | datetime | 2024-06-17T09:52:55.257Z |
        Profile Update Timestamp |


        **Status Codes**


        • 200: Success


        • 403: Patient data missing


        • 500: Wrong API URL/Token mismatched/Wrong JSON request.
      operationId: AddPatienttoDirectory
      parameters: [ ]
      requestBody:
        description: 'Request body for adding a patient to the directory'
        content:
          application/json:
            schema:
              type: string
            example:
              patient_oid: "123456789"
              designation: "Mr."
              first_name: "Test"
              middle_name: ""
              last_name: "Patient"
              dob: "1987-01-06"
              mobile: "+919999999999"
              gender: "M"
              address:
                city: "Bangalore"
                line1: "ABC"
                line2: "XYZ"
                pincode: 560049
                state: "Karnataka"
                country: "India"
              metadata:
                blood_group: "AB+"
                aadhar_number: "12345"
                notes: "Has a history of HTN"
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 24 Mar 2020 06:26:06 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '380'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200OK'
                  - example:
                      data:
                        patient_oid: '123456789'
                        profile:
                          id: '123456789'
                          created_at: '2024-06-12T21:55:51.593Z'
                          updated_at: '2024-06-17T09:52:55.257Z'
              example:
                data:
                  patient_oid: '123456789'
                  profile:
                    id: '123456789'
                    created_at: '2024-06-12T21:55:51.593Z'
                    updated_at: '2024-06-17T09:52:55.257Z'
        '403':
          description: Forbidden
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/403ForbiddenBusinessPatientDetailsMissing1
                  - example:
                      data: { }
                      error:
                        code: NOT_ALLOWED
                        message: You are not allowed to add resource
              example:
                data: { }
                error:
                  code: NOT_ALLOWED
                  message: You are not allowed to add resource
        '500':
          description: Internal Server Error
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/500WrongAPIURLTokenmismatchedWrongJSONrequest.1
                  - example:
                      data: { }
                      error:
                        code: INVALID_DATA
                        message: Data entered in incorrect
              example:
                data: { }
                error:
                  code: INVALID_DATA
                  message: Data entered in incorrect
      deprecated: false
  /v1/business/patients/{patient_id}:
    get:
      tags:
        - Patient Registration API
      summary: Get patient details by Ekaid
      description: >-
        This API provides functionality to get details of a patient by their Eka
        profile id, from a business' directory. 
        
        The patient should have been previously added to the business directory for this API to return the patient's details.


        ### Request Parameter


        | Parameter | Type | Expected Values | Description |
        Required/Optional/Not Required |

        | --- | --- | --- | --- | --- |

        | patient_id | string |  | Patient's eka profile id | Required |


        ### **Response parameter**


        | Parameter | Type | Expected Values | Description |

        | --- | --- | --- | --- |

        | data | object |  | Response data object |

        | data.patients | array |  | List of patients |

        | data.patients\[\].oid | string | 1234567890 | Unique identifier for
        the patient |

        | data.patients\[\].name | string | Patient Testname | Patient's name |

        | data.patients\[\].last_visit | datetime | 2024-06-06T10:56:50.468Z |
        Last visit date and time |

        | data.patients\[\].clinic_id | string | 60532c11111101ba3a3Test |
        Clinic identifier |

        | data.patients\[\].patient_profile | object |  | Patient object |

        | data.patients\[\].patient.patient_oid | string | 1234567890 | Unique
        identifier for the patient |

        | data.patients\[\].patient.first_name | string | Patient | Patient's
        first name |

        | data.patients\[\].patient.middle_name | string |  | Patient's middle
        name |

        | data.patients\[\].patient.last_name | string | Testname | Patient's
        last name |

        | data.patients\[\].patient.dob | date | 1981-11-11 | Patient's date of
        birth |

        | data.patients\[\].patient.health-ids | array | \["test@abdm",
        "test@ndhm"\] | List of patient's health IDs |

        |  |  |  |  |

        | data.patients\[\].patient.email | string |
        [ekademo@gmail.com](https://mailto:ekademo@gmail.com) | Patient's email
        address |

        | data.patients\[\].patient.gen | string | M | Patient's gender |

        | data.patients\[\].patient.mobile | string | +919999999999 | Patient's
        mobile number |

        | data.patients\[\].patient.at | datetime | 2021-03-19T13:15:26.318Z |
        Timestamp of patient profile creation |

        **Status Codes**


        • 200: Success


        • 403: Patient/Business data missing


        • 500: Wrong API URL/Wrong JSON request/ Something went wrong
      operationId: Getpatientdetailsbyid
      parameters:
        - name: auth
          in: header
          required: True
          description: >-
            The auth token of the business. It is used to authenticate the client. This should be fetched from auth api.
          schema:
            type: string
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
        - name: patient_id
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 24 Mar 2020 06:26:06 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '380'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200OK1'
                  - example:
                      data:
                        patient_oid: '123456789'
                        name: Test Patient
                        last_visit: '2024-06-06T10:56:50.468Z'
                        clinic_id: '12345678'
                        patient_profile:
                          patient_oid: '123456789'
                          first_name: Test
                          middle_name: ''
                          last_name: Patient
                          dob: '1984-11-11'
                          email: ekademo@gmail.com
                          gen: M
                          mobile: '+919999999999'
                          created_at: '2021-03-19T13:15:26.318Z'
                          address:
                            city: Bangalore
                            line1: ABC
                            line2: XYZ
                            pincode: 560049
                            state: Karnataka
                            country: India
                            district: Bangalore Urban
                          metadata:
                            blood_group: AB+
                            aadhar_number: '12345'
                            notes: Has a history of HTN
                            father_name: Test Father
              example:
                data:
                  patient_oid: '123456789'
                  name: Test Patient
                  last_visit: '2024-06-06T10:56:50.468Z'
                  clinic_id: '12345678'
                  patient_profile:
                    patient_oid: '123456789'
                    first_name: Test
                    middle_name: ''
                    last_name: Patient
                    dob: '1984-11-11'
                    email: ekademo@gmail.com
                    gen: M
                    mobile: '+919999999999'
                    created_at: '2021-03-19T13:15:26.318Z'
                    address:
                      city: Bangalore
                      line1: ABC
                      line2: XYZ
                      pincode: 560049
                      state: Karnataka
                      country: India
                      district: Bangalore Urban
                    metadata:
                      blood_group: AB+
                      aadhar_number: '12345'
                      notes: Has a history of HTN
                      father_name: Test Father
                      uhid: ABC-UHID-123
        '403':
          description: Forbidden
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/403ForbiddenBusinessPatientDetailsMissing1
                  - example:
                      data: { }
                      error:
                        code: UNAUTHORIZED_PATIENT_SEARCH
                        message: >-
                          Unauthorized access: You do not have permission to
                          search for patients in this directory
              example:
                data: { }
                error:
                  code: UNAUTHORIZED_PATIENT_SEARCH
                  message: >-
                    Unauthorized access: You do not have permission to search
                    for patients in this directory
        '500':
          description: Internal Server Error
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/500WrongAPIURLTokenmismatchedWrongJSONrequest.1
                  - example:
                      data: { }
                      error:
                        code: INVALID_DATA
                        message: Data entered is incorrect
              example:
                data: { }
                error:
                  code: INVALID_DATA
                  message: Data entered is incorrect
      deprecated: false
  /v1/business/patients/search:
    get:
      tags:
        - Patient Registration API
      summary: Search Patient by mobile
      description: >-
        This API provides functionality to search profiles of patient by their mobile
        number in business' directory


        ### Request Parameter


        | Parameter | Type | Expected Values | Description |
        Required/Optional/Not Required |

        | --- | --- | --- | --- | --- |

        | mobile | string |  | Patient's mobile number | Required |


        ### **Response parameter**


        | Parameter | Type | Expected Values | Description |

        | --- | --- | --- | --- |

        | data | object |  | Response data object |

        | data.patients | array |  | List of patients |

        | data.patients\[\].oid | string | 1234567890 | Unique identifier for
        the patient |

        | data.patients\[\].name | string | Patient Testname | Patient's name |

        | data.patients\[\].last_visit | datetime | 2024-06-06T10:56:50.468Z |
        Last visit date and time |

        | data.patients\[\].clinic_id | string | 60532c11111101ba3a3Test |
        Clinic identifier |

        | data.patients\[\].patient_profile | object |  | Patient object |

        | data.patients\[\].patient.patient_oid | string | 1234567890 | Unique
        identifier for the patient |

        | data.patients\[\].patient.first_name | string | Patient | Patient's
        first name |

        | data.patients\[\].patient.middle_name | string |  | Patient's middle
        name |

        | data.patients\[\].patient.last_name | string | Testname | Patient's
        last name |

        | data.patients\[\].patient.dob | date | 1981-11-11 | Patient's date of
        birth |

        | data.patients\[\].patient.dob-valid | boolean | true | Date of birth
        validity |

        | data.patients\[\].patient.health-ids | array | \["test@abdm",
        "test@ndhm"\] | List of patient's health IDs |

        |  |  |  |  |

        | data.patients\[\].patient.email | string |
        [ekademo@gmail.com](https://mailto:ekademo@gmail.com) | Patient's email
        address |

        | data.patients\[\].patient.gen | string | M | Patient's gender |

        | data.patients\[\].patient.mobile | string | +919999999999 | Patient's
        mobile number |

        | data.patients\[\].patient.at | datetime | 2021-03-19T13:15:26.318Z |
        Timestamp of patient profile creation |

        **Status Codes**


        • 200: Success


        • 403: Patient/Business data missing


        • 500: Wrong API URL/Wrong JSON request/ Something went wrong
      operationId: SearchPatientbymobile
      parameters:
        - name: mobile
          in: query
          description: ''
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: <mobile_no>
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          schema:
            enum:
              - application/json
            type: string
            example: application/json
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 24 Mar 2020 06:26:06 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '380'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200OK2'
                  - example:
                      data:
                        patients:
                          - patient_oid: '123456789'
                            name: Test Patient
                            last_visit: '2024-06-06T10:56:50.468Z'
                            clinic_id: '12345678'
                            patient_profile:
                              patient_oid: '123456789'
                              first_name: Test
                              middle_name: ''
                              last_name: Patient
                              dob: '1984-11-11'
                              email: ekademo@gmail.com
                              gen: M
                              mobile: '+919999999999'
                              created_at: '2021-03-19T13:15:26.318Z'
                          - patient_oid: '234567890'
                            name: Test PT 2
                            last_visit: null
                            is_recent: false
                            clinic_id: null
                            patient_profile:
                              first_name: Test
                              middle_name: PT
                              last_name: '2'
                              patient_oid: '234567890'
                              email: demo_test@eka.care
                              gen: M
                              mobile: '+91999999999'
                              dob: '1991-11-11'
                              created_at: 2021-03-19T13:15:26318Z
              example:
                data:
                  patients:
                    - patient_oid: '123456789'
                      name: Test Patient
                      last_visit: '2024-06-06T10:56:50.468Z'
                      clinic_id: '12345678'
                      patient_profile:
                        patient_oid: '123456789'
                        first_name: Test
                        middle_name: ''
                        last_name: Patient
                        dob: '1984-11-11'
                        email: ekademo@gmail.com
                        gen: M
                        mobile: '+919999999999'
                        created_at: '2021-03-19T13:15:26.318Z'
                    - patient_oid: '234567890'
                      name: Test PT 2
                      last_visit: null
                      is_recent: false
                      clinic_id: null
                      patient_profile:
                        first_name: Test
                        middle_name: PT
                        last_name: '2'
                        patient_oid: '234567890'
                        email: demo_test@eka.care
                        gen: M
                        mobile: '+91999999999'
                        dob: '1991-11-11'
                        created_at: 2021-03-19T13:15:26318Z
        '403':
          description: Forbidden
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/403ForbiddenBusinessPatientDetailsMissing1
                  - example:
                      data: { }
                      error:
                        code: UNAUTHORIZED_PATIENT_SEARCH
                        message: >-
                          Unauthorized access: You do not have permission to
                          search for patients in this directory
              example:
                data: { }
                error:
                  code: UNAUTHORIZED_PATIENT_SEARCH
                  message: >-
                    Unauthorized access: You do not have permission to search
                    for patients in this directory
        '500':
          description: Internal Server Error
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/500WrongAPIURLTokenmismatchedWrongJSONrequest.1
                  - example:
                      data: { }
                      error:
                        code: INVALID_DATA
                        message: Data entered is incorrect
              example:
                data: { }
                error:
                  code: INVALID_DATA
                  message: Data entered is incorrect
      deprecated: false
  /v1/business/patient/edit:
    patch:
      tags:
        - Patient Registration API
      summary: Update Patient Details  [WIP]
      description: >-
        Thi API provides functionality to update patient details for the
        registered patients.
        
        
        WIP: This API is currently under development and will be available soon.


      operationId: UpdatePatientDetailsAPI
      parameters:
        - name: auth
          in: header
          description: >-
            The auth token of the business. It is used to authenticate the client. This should be fetched from auth api.
          required: true
          style: simple
          schema:
            type: string
            example: >-
              eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/UpdatePatientDetailsAPIRequest'
                - example:
                    firstName: John
                    middleName: Doe
                    lastName: NewLastName
                    mobile: '+91999999999'
                    email: john.doe@example.com
                    address:
                      city: Bangalore
                      line1: ABC
                      line2: XYZ
                      pincode: 560049
                      state: Karnataka
                      country: India
                    metadata:
                      blood_group: AB+
                      aadhar_number: '12345'
            example:
              firstName: John
              middleName: Doe
              lastName: NewLastName
              mobile: '+91999999999'
              email: john.doe@example.com
              address:
                city: Bangalore
                line1: ABC
                line2: XYZ
                pincode: 560049
                state: Karnataka
                country: India
              metadata:
                blood_group: AB+
                aadhar_number: '12345'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Thu, 16 Apr 2020 09:22:28 GMT
            Transfer-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: chunked
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Accept-Encoding
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200-Success1'
                  - example:
                      patientId: '1234567890'
              example:
                patientId: '1234567890'
      deprecated: false
  /v1/business/entities:
    get:
      tags:
        - Doctor and clinic API
      summary: Get Clinic and Doctor details
      description: >-
        
        ### Overview
        
        The Get Clinic and Doctor Details API provides a comprehensive list of clinics and doctors associated with those clinics for a business. This API is designed to retrieve detailed information about clinics, the doctors working at each clinic, and the overarching business entity.
        
        ### Endpoint
        
        **URL:** `{{HOST}}/v1/business/entities`
        
        
        **Method:** GET
        
        ### Request Parameters
        
        This endpoint does not require any parameters. The auth header contains business-id information which will be used to fetch the details.
        
        ### Response Parameters
        
        | Parameter | Type | Description |
        
        | --- | --- | --- |
        
        | status | integer | HTTP status code of the response |
        
        | data | object | Response data object |
        
        | data.clinics | array | List of clinic objects |
        
        | data.clinics[].clinic_id | string | Unique identifier of the clinic |
        
        | data.clinics[].name | string | Name of the clinic |
        
        | data.clinics[].doctors | array | List of doctor IDs associated with the clinic |
        
        | data.doctors | array | List of doctor objects |
        
        | data.doctors[].name | string | Name of the doctor |
        
        | data.doctors[].doctor_id | string | Unique identifier of the doctor |
        
        | data.business | object | Details of the business entity |
        
        | data.business.business_id | string | Unique identifier of the business |
        
        | data.business.name | string | Name of the business |

      operationId: GetClinicandDoctordetails
      parameters:
        - name: auth
          in: header
          description: >-
            The auth token of the business. It is used to authenticate the client. This should be fetched from auth api.
          required: true
          style: simple
          schema:
            type: string
            example: >-
              eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
      responses:
        '200':
          description: OK
          headers: { }
          content:
            application/json:
              schema:
                type: string
                example:
                  status: 200
                  data:
                    clinics:
                      - clinic_id: "{{clinic_id1}}"
                        name: "Skin clinic derma 1"
                        doctors:
                          - "12345678901234"
                          - "11987654321765"
                      - clinic_id: "{{clinic_id2}}"
                        name: "family clinic 2"
                        doctors:
                          - "87198101903i101"
                    doctors:
                      - name: "Dr. GP Physician"
                        doctor_id: "12345678901234"
                        pic: "https://abc.eka.care/doctor-avatar/123456789"
                      - name: "Dr. ABC XYZ"
                        doctor_id: "11987654321765"
                        pic: "https://abc.eka.care/doctor-avatar/123456789"
                      - name: "Dr. Ortho Doctor"
                        doctor_id: "87198101903i101"
                        pic: "https://abc.eka.care/doctor-avatar/123456789"
                    business:
                      business_id: "{{business_id}}"
                      name: "{{business_name}}"
      deprecated: false
  /v1/business/doctor/{doctor_id}:
    get:
      tags:
        - Doctor and clinic API
      summary: Get Doctor profile
      description: >-
        
        ### Overview
        
        This API endpoint is used to retrieve detailed information about a specific doctor using their unique identifier. The response includes comprehensive information about the doctor, such as personal details, specializations, and associated clinics.
        
        ### Endpoint
        
        **URL:** `{{HOST}}/v1/business/doctor/{{doctor_id}}`
        
        **Method:** GET
        
        ### Request Parameters
        
        
        | Parameter | Type | Description | Required |
        
        | --- | --- | --- | --- |
        
        | doctor_id | string | Unique identifier for the doctor | Yes |
        
        
        ### Response Parameters


        | Parameter | Type | Description |

        | --- | --- | --- |

        | id | string | Unique identifier for the doctor in Eka |

        | created_at | datetime | Timestamp when the doctor profile was created
        |

        | profile | object | Doctor's profile details |

        | profile.personal | object | Personal details of the doctor |

        | profile.personal.designation | string | Designation (e.g., Dr.) |

        | profile.personal.first_name | string | First name of the doctor |

        | profile.personal.middle_name | string | Middle name of the doctor |

        | profile.personal.last_name | string | Last name of the doctor |

        | profile.personal.email | string | Email address of the doctor |

        | profile.personal.gender | string | Gender of the doctor |

        | profile.personal.dob | date | Date of birth of the doctor |

        | profile.professional | object | Professional details of the doctor |

        | profile.professional.active | boolean | Flag indicating if the profile
        is active |

        | profile.professional.about | string | About section describing the
        doctor |

        | profile.professional.language | array | Languages spoken by the doctor
        |

        | profile.professional.language\[\].language | string | Language name
        (e.g., English) |

        | profile.professional.clinics | array | Clinics associated with the
        doctor |

        | profile.professional.clinics\[\] | object | Clinic details |

        | profile.professional.clinics\[\]..id | string | Unique identifier for
        the clinic |

        | profile.professional.clinics\[\].city_name | string | City name where
        the clinic is located |

        | profile.professional.clinics\[\].name | string | Name of the clinic |

        | profile.professional.clinics\[\].email | string | Email address of the
        clinic |

        | profile.professional.clinics\[\].about | string | About section of the
        clinic |

        | profile.professional.clinics\[\].speciality | array | Specialities
        offered at the clinic |

        | profile.professional.clinics\[\].number | array | Contact numbers for
        the clinic |

        | profile.professional.clinics\[\].number\[\].name | string | Type of
        contact number (e.g., Phone, Mobile) |

        | profile.professional.clinics\[\].number\[\].n | string | Contact
        number |

        | profile.professional.clinics\[\].address | object | Address details of
        the clinic |

        | profile.professional.clinics\[\].address.line1 | string | Address line
        1 |

        | profile.professional.clinics\[\].address.line2 | string | Address line
        2 |

        | profile.professional.clinics\[\].address.city | string | City of the
        clinic |

        | profile.professional.clinics\[\].address.state | string | State of the
        clinic |

        | profile.professional.clinics\[\].address.country | string | Country of
        the clinic |

        | profile.professional.clinics\[\].address.pincode | string | Pincode of
        the clinic |

        | profile.professional.clinics\[\].location | array | Location
        coordinates of the clinic |

        | profile.professional.default_clinic | string | Default clinic ID |

        | profile.professional.all_registrations | array | Registrations of the
        doctor |

        | profile.professional.all_registrations\[\].id | number | Registration
        ID |

        | profile.professional.all_registrations\[\].council | string | Medical
        council name |

        | profile.professional.all_registrations\[\].medical_id | string |
        Medical ID number |

        | profile.professional.all_registrations\[\].year | string | Year of
        registration |

        | profile.professional.all_registrations\[\].default | boolean | Flag
        indicating if it is the default registration |

        | profile.professional.degree | array | Degrees earned by the doctor |

        | profile.professional.degree\[\].id | number | Degree ID |

        | profile.professional.degree\[\].name | string | Name of the degree |

        | profile.professional.degree\[\].branch_name | string | Branch name |

        | profile.professional.degree\[\].college_name | string | College name |

        | profile.professional.degree\[\].display_status | string | Display
        status of the degree |

        | profile.professional.degree\[\].start_year | string | Start year of
        the degree |

        | profile.professional.degree\[\].end_year | string | End year of the
        degree |

        | profile.professional.major_speciality | object | Major speciality of
        the doctor |

        | profile.professional.major_speciality.name | string | Name of the
        major speciality |

        | profile.professional.speciality | array | Specialities of the doctor |

        | profile.professional.speciality\[\].name | string | Name of the
        speciality |

        | **Status Codes** |  |  |


        • 200: Success


        • 403: Doctor data missing


        • 500: Wrong API URL/Token mismatched/Wrong JSON request.
      operationId: GetDoctorprofile
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          schema:
            enum:
              - application/json
            type: string
            example: application/json
        - name: doctor_id
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 24 Mar 2020 06:26:06 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '380'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/200OK4'
                  - example:
                      id: '1234567890'
                      profile:
                        personal:
                          first_name: doctor
                          middle_name: ''
                          last_name: doctor
                          dob: ''
                          gender: M
                        professional:
                          active: true
                          about: >-
                            doctor doctor is a Cardiologist with 43 years of
                            experience.
                          language:
                            - code: en
                              language: English
                          degree:
                            - name: MD
                              branch_name: ''
                              college_name: ''
                              start_year: ''
                              end_year: ''
                          major_speciality:
                            name: Cardiologist
                            code: CA
                          speciality:
                            - name: General Physician
                            - name: Diabetologist
                            - name: Allergy Specialist
                          clinics:
                            - id: '1234567899876'
                              name: Vagus Hospital & Health Services
                              contacts:
                                - name: Phone
                                  number: '+91999999999'
                              address:
                                line1: >-
                                  H No -122/a,, Pocket 2 back side of Yamaha 2
                                  wheeler showroom., Pocket 2, Gate No :-2,
                                  nearest to Homeopathy clinic.
                                city: Delhi
                                country: India
                                state: Delhi
                                pin: '110085'
                          default_clinic: '1234567899876'
              example:
                id: '1234567890'
                profile:
                  personal:
                    first_name: doctor
                    middle_name: ''
                    last_name: doctor
                    dob: ''
                    gender: M
                  professional:
                    active: true
                    about: >-
                      doctor doctor is a Cardiologist with 43 years of
                      experience.
                    language:
                      - code: en
                        language: English
                    degree:
                      - name: MD
                        branch_name: ''
                        college_name: ''
                        start_year: ''
                        end_year: ''
                    major_speciality:
                      name: Cardiologist
                      code: CA
                    speciality:
                      - name: General Physician
                      - name: Diabetologist
                      - name: Allergy Specialist
                    clinics:
                      - id: '1234567899876'
                        name: Vagus Hospital & Health Services
                        contacts:
                          - name: Phone
                            number: '+91999999999'
                        address:
                          line1: >-
                            H No -122/a,, Pocket 2 back side of Yamaha 2 wheeler
                            showroom., Pocket 2, Gate No :-2, nearest to
                            Homeopathy clinic.
                          city: Delhi
                          country: India
                          state: Delhi
                          pin: '110085'
                    default_clinic: '1234567899876'
        '403':
          description: Forbidden
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/403ForbiddenBusinessPatientDetailsMissing1
                  - example:
                      data: { }
                      error:
                        code: UNAUTHORIZED_ENTITY
                        message: >-
                          You are not authorized to view requisted resource
                          Doctor
              example:
                data: { }
                error:
                  code: UNAUTHORIZED_ENTITY
                  message: You are not authorized to view requisted resource Doctor
        '500':
          description: Internal Server Error
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/500WrongAPIURLTokenmismatchedWrongJSONrequest.1
                  - example:
                      data: { }
                      error:
                        code: INVALID_DATA
                        message: Doctor id entered is incorrect
              example:
                data: { }
                error:
                  code: INVALID_DATA
                  message: Doctor id entered is incorrect
      deprecated: false
  /v1/doctor/clinics/{doctor_id}:
    get:
      tags:
        - Doctor and clinic API
      summary: Get Clinics for doctor [WIP]
      description: >-
        This API provides functionality to search a patient by their mobile
        number in doctor's directory


        ### Request Parameter


        | Parameter | Type | Expected Values | Description |
        Required/Optional/Not Required |

        | --- | --- | --- | --- | --- |

        | doctor_oid | string |  | Unique identifier for the doctor | Required |


        ### **Response parameter**


        **Status Codes**


        • 200: Success


        • 403: Patient/Organization data missing


        • 500: Wrong API URL/Token mismatched/Wrong JSON request.
      operationId: GetClinicsfordoctor[WIP]
      parameters:
        - name: Content-Type
          in: header
          description: ''
          required: true
          style: simple
          schema:
            enum:
              - application/json
            type: string
            example: application/json
        - name: doctor_id
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Tue, 24 Mar 2020 06:26:06 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '380'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content: { }
        '403':
          description: Forbidden
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/403ForbiddenBusinessPatientDetailsMissing11
                  - example:
                      data: { }
                      err:
                        code: DOCTOR_DATA_INVALID
                        message: Please enter valid doctor data
              example:
                data: { }
                err:
                  code: DOCTOR_DATA_INVALID
                  message: Please enter valid doctor data
        '500':
          description: Internal Server Error
          headers: { }
          content:
            application/json:
              schema:
                allOf:
                  - $ref: >-
                      #/components/schemas/500WrongAPIURLTokenmismatchedWrongJSONrequest.11
                  - example:
                      data: { }
                      err:
                        code: INVALID_DATA
                        message: Data entered in incorrect
              example:
                data: { }
                err:
                  code: INVALID_DATA
                  message: Data entered in incorrect
      deprecated: false
  /v1/business/doctor/{doctor_id}/clinic/{clinic_id}/appointments/slots:
    get:
      tags:
        - Appointment API
      summary: Get Appointment Slots
      description: >-
        This API is the first step in booking appointment slot for a patient at
        a doctor's clinic


        **Parameters**


        | Parameter | Type | Expected Values | Description |
        Required/Optional/Not Required |

        | --- | --- | --- | --- | --- |

        | docid | string |  | Unique identifier for the doctor | Required |

        | clinicid | string |  | Unique identifier for the clinic | Required |

        | start_date | date | YYYY-MM-DD | Start date for the appointment slots
        | Required |

        | end_date | date | YYYY-MM-DD | End date for the appointment slots |
        Required |


        **Response Parameters**


        | Parameter | Type | Description |

        | --- | --- | --- |

        | data | object | Response data object |

        | data.schedule | object | Schedule of available slots |

        | data.schedule. | object | Object containing appointment slots for the
        clinic |

        | data.schedule.. | array | Array of available slots for the given date
        |

        | data.schedule..\[\].available | boolean | Indicates if the slot is
        available |

        | data.schedule..\[\].conf_id | string | Configuration ID for the slot |

        | data.schedule..\[\].e | datetime | End time of the slot |

        | data.schedule..\[\].s | datetime | Start time of the slot |

        | data.schedule..\[\].slots_booked | integer | Number of slots booked |

        | data.services | object | Object containing service details |

        | data.services. | object | Service object |

        | data.services..allow_patient_booking | boolean | Indicates if patient
        booking is allowed |

        | data.services..appointment_type | string | Type of appointment (e.g.,
        REGULAR) |

        | data.services..archive | boolean | Indicates if the service is
        archived |

        | data.services..book_ahead_days | integer | Number of days ahead
        booking is allowed |

        | data.services..c_at | datetime | Creation timestamp of the service |

        | data.services..conf_id | string | Configuration ID for the service |

        | data.services..conv_fee | integer | Convenience fee for the service |

        | data.services..currency | string | Currency code (e.g., INR) |

        | data.services..duration | integer | Duration of the service in minutes
        |

        | data.services..eka_fee | integer | Eka fee for the service |

        | data.services..followup_validity | integer | Validity period for
        follow-up |

        | data.services..mode | array | Modes of the service (e.g., tele,
        in-clinic) |

        | data.services..nickname | string | Nickname for the service |

        | data.services..owner_id | string | Owner ID for the service |

        | data.services..post_pay | boolean | Indicates if post-payment is
        allowed |

        | data.services..pre_pay | boolean | Indicates if pre-payment is allowed
        |

        | data.services..price | integer | Price of the service |

        | data.services..service_id | integer | Service ID |

        | data.services..service_name | string | Name of the service |


        **Status codes**


        • 200: Success


        • 403: Business data missing


        • 500: Wrong API URL/Token mismatched/Wrong JSON request.
      operationId: GetAppointmentSlots
      parameters:
        - name: start_date
          in: query
          description: ''
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '{{start_date}}'
        - name: end_date
          in: query
          description: ''
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: '{{end_date}}'
        - name: doctor_id
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
        - name: clinic_id
          in: path
          description: ''
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Date:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Sun, 12 Apr 2020 11:09:57 GMT
            Content-Length:
              content:
                text/plain:
                  schema:
                    type: string
                  example: '377'
            Connection:
              content:
                text/plain:
                  schema:
                    type: string
                  example: keep-alive
            Server:
              content:
                text/plain:
                  schema:
                    type: string
                  example: nginx/1.10.3 (Ubuntu)
            Vary:
              content:
                text/plain:
                  schema:
                    type: string
                  example: Cookie, Accept-Encoding
            Content-Encoding:
              content:
                text/plain:
                  schema:
                    type: string
                  example: gzip
            Strict-Transport-Security:
              content:
                text/plain:
                  schema:
                    type: string
                  example: max-age=15768000
          content:
            application/json:
              schema:
                type: string
                example: |-
                  {
                      "data": {
                          "schedule": {
                              {{clinic_id}}: { 
                                      "2024-06-19": [
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T10:40:00+05:30",
                                              "s": "2024-06-19T10:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T10:50:00+05:30",
                                              "s": "2024-06-19T10:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:00:00+05:30",
                                              "s": "2024-06-19T10:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:10:00+05:30",
                                              "s": "2024-06-19T11:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:20:00+05:30",
                                              "s": "2024-06-19T11:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:30:00+05:30",
                                              "s": "2024-06-19T11:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:40:00+05:30",
                                              "s": "2024-06-19T11:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T11:50:00+05:30",
                                              "s": "2024-06-19T11:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:00:00+05:30",
                                              "s": "2024-06-19T11:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:10:00+05:30",
                                              "s": "2024-06-19T12:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:20:00+05:30",
                                              "s": "2024-06-19T12:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:30:00+05:30",
                                              "s": "2024-06-19T12:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:40:00+05:30",
                                              "s": "2024-06-19T12:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T12:50:00+05:30",
                                              "s": "2024-06-19T12:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T13:00:00+05:30",
                                              "s": "2024-06-19T12:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T18:40:00+05:30",
                                              "s": "2024-06-19T18:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T18:50:00+05:30",
                                              "s": "2024-06-19T18:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:00:00+05:30",
                                              "s": "2024-06-19T18:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:10:00+05:30",
                                              "s": "2024-06-19T19:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:20:00+05:30",
                                              "s": "2024-06-19T19:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:30:00+05:30",
                                              "s": "2024-06-19T19:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:40:00+05:30",
                                              "s": "2024-06-19T19:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T19:50:00+05:30",
                                              "s": "2024-06-19T19:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T20:00:00+05:30",
                                              "s": "2024-06-19T19:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T20:10:00+05:30",
                                              "s": "2024-06-19T20:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T20:20:00+05:30",
                                              "s": "2024-06-19T20:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-19T20:30:00+05:30",
                                              "s": "2024-06-19T20:20:00+05:30",
                                              "slots_booked": null
                                          }
                                      ],
                                      "2024-06-20": [
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T10:40:00+05:30",
                                              "s": "2024-06-20T10:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T10:50:00+05:30",
                                              "s": "2024-06-20T10:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:00:00+05:30",
                                              "s": "2024-06-20T10:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:10:00+05:30",
                                              "s": "2024-06-20T11:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:20:00+05:30",
                                              "s": "2024-06-20T11:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:30:00+05:30",
                                              "s": "2024-06-20T11:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:40:00+05:30",
                                              "s": "2024-06-20T11:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T11:50:00+05:30",
                                              "s": "2024-06-20T11:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:00:00+05:30",
                                              "s": "2024-06-20T11:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:10:00+05:30",
                                              "s": "2024-06-20T12:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:20:00+05:30",
                                              "s": "2024-06-20T12:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:30:00+05:30",
                                              "s": "2024-06-20T12:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:40:00+05:30",
                                              "s": "2024-06-20T12:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T12:50:00+05:30",
                                              "s": "2024-06-20T12:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T13:00:00+05:30",
                                              "s": "2024-06-20T12:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T18:40:00+05:30",
                                              "s": "2024-06-20T18:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T18:50:00+05:30",
                                              "s": "2024-06-20T18:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:00:00+05:30",
                                              "s": "2024-06-20T18:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:10:00+05:30",
                                              "s": "2024-06-20T19:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:20:00+05:30",
                                              "s": "2024-06-20T19:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:30:00+05:30",
                                              "s": "2024-06-20T19:20:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:40:00+05:30",
                                              "s": "2024-06-20T19:30:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T19:50:00+05:30",
                                              "s": "2024-06-20T19:40:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T20:00:00+05:30",
                                              "s": "2024-06-20T19:50:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T20:10:00+05:30",
                                              "s": "2024-06-20T20:00:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T20:20:00+05:30",
                                              "s": "2024-06-20T20:10:00+05:30",
                                              "slots_booked": null
                                          },
                                          {
                                              "available": true,
                                              "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                              "e": "2024-06-20T20:30:00+05:30",
                                              "s": "2024-06-20T20:20:00+05:30",
                                              "slots_booked": null
                                          }
                                      ]
                                  }
                              },
                          "services": {
                              "7166c97b908466a27b8c11b3c93090a65dd61fe85eeda9a38761ade663581dc4": {
                                  "allow_patient_booking": true,
                                  "appointment_type": "REGULAR",
                                  "c_at": "2022-06-18T20:33:34.159Z",
                                  "conf_id": "7166c97b908466a27b8c11b3c93090a65dd61fe85eeda9a38761ade663581dc4",
                                  "mode": [
                                      "tele"
                                  ],
                                  "owner_id": "161459684229004",
                                  "post_pay": true,
                                  "pre_pay": false,
                                  "price": null,
                                  "service_name": "consultation"
                              },
                              "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582": {
                                  "allow_patient_booking": true,
                                  "appointment_type": "REGULAR",
                                  "book_ahead_days": 21,
                                  "c_at": "2022-06-18T20:33:33.684Z",
                                  "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                  "mode": [
                                      "in-clinic"
                                  ],
                                  "owner_id": "{{doctor_id}}",
                                  "post_pay": true,
                                  "pre_pay": false,
                                  "price": null,
                                  "service_name": "consultation"
                              },
                              "eedaa0837acbc0380108615f34f1f42de20da6aab299f592cbb5a5dd10f94d07": {
                                  "allow_patient_booking": true,
                                  "appointment_type": "REGULAR",
                                  "archive": false,
                                  "book_ahead_days": 21,
                                  "c_at": "2023-11-18T08:05:53.718Z",
                                  "conf_id": "eedaa0837acbc0380108615f34f1f42de20da6aab299f592cbb5a5dd10f94d07",
                                   "mode": [
                                      "in-clinic"
                                  ],
                                  "owner_id": "{{doctor_id}}",
                                  "post_pay": true,
                                  "pre_pay": false,
                                  "price": null,
                                  "service_name": "Tele-Consulation"
                              }
                          }
                      }
                  }
              example: |-
                {
                    "data": {
                        "schedule": {
                            {{clinic_id}}: { 
                                    "2024-06-19": [
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T10:40:00+05:30",
                                            "s": "2024-06-19T10:30:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T10:50:00+05:30",
                                            "s": "2024-06-19T10:40:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:00:00+05:30",
                                            "s": "2024-06-19T10:50:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:10:00+05:30",
                                            "s": "2024-06-19T11:00:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:20:00+05:30",
                                            "s": "2024-06-19T11:10:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:30:00+05:30",
                                            "s": "2024-06-19T11:20:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:40:00+05:30",
                                            "s": "2024-06-19T11:30:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T11:50:00+05:30",
                                            "s": "2024-06-19T11:40:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:00:00+05:30",
                                            "s": "2024-06-19T11:50:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:10:00+05:30",
                                            "s": "2024-06-19T12:00:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:20:00+05:30",
                                            "s": "2024-06-19T12:10:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:30:00+05:30",
                                            "s": "2024-06-19T12:20:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:40:00+05:30",
                                            "s": "2024-06-19T12:30:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T12:50:00+05:30",
                                            "s": "2024-06-19T12:40:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T13:00:00+05:30",
                                            "s": "2024-06-19T12:50:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T18:40:00+05:30",
                                            "s": "2024-06-19T18:30:00+05:30",
                                            "slots_booked": null
                                        },
                                        {
                                            "available": true,
                                            "conf_id": "e2c63ceda76315147aa4c4e2d6eba6e653589b53a571bad1c61ec7c2bc588582",
                                            "e": "2024-06-19T18:50:00+05:30",
                                            "s": "2024-06-19T18:40:00+05:30",
                                            "slots_booked": null
                                        },
[...]
