openapi: "3.0.1"
info:
  title: EkaScribe Voice API v2
  version: "2024-12-01T12:09:09Z"
  description: EkaScribe Voice-to-Prescription API for medical transcription and structured data generation
servers:
  - url: https://api.eka.care
    description: Production server
  - url: https://api.dev.eka.care
    description: Development server
paths:
  /voice/api/v2/transaction/init/{session_id}:
    post:
      summary: Initialize Transaction
      description: Start the transcription process for the uploaded audio files. This endpoint is called after uploading any audio files in S3 bucket for transcription and processing.
      parameters:
        - name: session_id
          in: path
          required: true
          description: Unique identifier for the transaction session
          schema:
            type: string
            example: "test_1234"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
                - transfer
                - s3_url
                - client_generated_files
              properties:
                mode:
                  type: string
                  description: Processing mode
                  enum:
                    - dictation
                    - consultation
                  example: "dictation"
                transfer:
                  type: string
                  description: Transfer mode use `vaded` for pre-processed audio with Voice Activity Detection, `non-vaded` for raw audio files
                  enum:
                    - non-vaded
                    - vaded
                  example: "non-vaded"
                s3_url:
                  type: string
                  description: S3 bucket URL where audio files were uploaded. The path received in presigned url.
                  example: https://m-prod-ekascribe-batch.s3.amazonaws.com/EC_173210496011417/txn_301/20250617_105524/
                client_generated_files:
                  type: array
                  description: Array of audio file names that were uploaded to S3
                  items:
                    type: string
                  example: ["https://m-prod-ekascribe-batch.s3.amazonaws.com/EC_173210496011417/txn_301/20250617_105524/audio_first.m4a", "https://m-prod-ekascribe-batch.s3.amazonaws.com/EC_173210496011417/txn_301/20250617_105524/audio_second.m4a"]
                additional_data:
                  type: object
                  description: Contextual information for the transaction
                  additionalProperties: true
                  example:
                    doctor:
                      _id: "174097180967921"
                      profile:
                        personal:
                          name:
                            f: "Divyesh"
                            l: ""
                    patient: {}
                    visitid: "09e4f00f-d665-4212-b77c-b2dd5f22bd92_1742560488782"
                input_language:
                  type: array
                  description: Array of supported input languages for voice transcription
                  items:
                    type: string
                    enum:
                      - "en-IN"
                      - "en-US"
                      - "hi"
                      - "gu"
                      - "kn"
                      - "ml"
                      - "ta"
                      - "te"
                      - "bn"
                      - "mr"
                      - "pa"
                  example: ["en-IN"]
                speciality:
                  type: string
                  description: Medical speciality context for better transcription accuracy
                  example: "general_medicine"
                Section:
                  type: string
                  description: Specific section or context for the audio content
                  example: "consultation_notes"
                output_format_template:
                  type: array
                  description: Array of template configurations for output format
                  items:
                    type: object
                    properties:
                      template_id:
                        type: string
                        example: "eka_emr_template"
                      codification_needed:
                        type: boolean
                        description: Whether codification is needed for the output
                        example: false
                  example: [{"template_id": "eka_emr_template", "codification_needed": false}]

            example:
              additional_data:
                doctor:
                  _id: "174097180967921"
                  profile:
                    personal:
                      name:
                        f: "Divyesh"
                        l: ""
                patient: {}
                visitid: "09e4f00f-d665-4212-b77c-b2dd5f22bd92_1742560488782"
              mode: "dictation"
              input_language: ["en-IN"]
              speciality: "general_medicine"
              Section: "consultation_notes"
              output_format_template: [{"template_id": "eka_emr_template", "language_output": "en-IN", "codification_needed": false}]
              transfer: "vaded"
              batch_s3_url: "s3://m-pp-voice2rx/250307/R-S3-195D5131-D014-56A8-ACCF-2F8F2D230DEC/"
      security:
        - auth: []
      responses:
        "201":
          description: Transaction initialized successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Transaction initialized successfully"
                  txn_id:
                    type: string
                    example: "test_1234"
                  b_id:
                    type: string
                    example: "b-1234567890"
        "409":
          description: Transaction already initialized with the same session ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  message:
                    type: string
                    example: "Transaction already initialized"
        "422":
          description: Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  details:
                    type: array
                    items:
                      type: object
        "401":
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid or missing authentication token"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code

  /voice/api/v3/status/{session_id}:
    get:
      summary: Transaction Result
      description: |
        Retrieve the status and results of a transcription session using the session ID. This endpoint provides comprehensive information about the transcription process including:
        - Current processing status
        - Structured output data when available
        - Template-specific results and status
        - Error and warning details
        
        The API implements intelligent polling to wait for completion and returns different HTTP status codes based on the processing outcome.
      parameters:
        - name: session_id
          in: path
          required: true
          description: Unique identifier for the transcription session
          schema:
            type: string
            example: "test_1234"
      security:
        - auth: []
      responses:
        "200":
          description: All templates processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      output:
                        type: array
                        description: Array of processed template results
                        items:
                          type: object
                          properties:
                            template_id:
                              type: string
                              description: Unique identifier for the template
                              example: "eka_emr_template"
                            value:
                              type: string
                              description: Structured output data from the template
                              additionalProperties: true
                              example: "eyJwcmVzY3JpcHRpb24iOiB7Im1lZGljYXRpb25zIjogW3sibmFtZSI6ICJkb2xvIiwgImZyZXF1ZW5jeSI6IHsicGF0dGVybl9pZCI6ICJmcC0xIiwgImRvc2UiOiBbIjEiLCAiMCIsICIxIl0sICJwZXJpb2QiOiAxLCAicGVyaW9kX3VuaXQiOiAiZGF5IiwgImZyZXF1ZW5jeSI6ICIzIiwgImN1c3RvbSI6ICIxLTAtMSJ9LCAiaW5zdHJ1Y3Rpb24iOiAiVGFrZSB0d2ljZSBhIGRheSIsICJpZCI6ICJsb2NhbGUtMmFiMWU5OGIxMzU4NzFhZjZjYjAxYjQ3MjE5NWNmZjQifV0sICJsYW5ndWFnZSI6ICJFTiJ9fQ=="    
                            type:
                              type: string
                              description: Type of template output
                              example: "eka_emr"
                            name:
                              type: string
                              description: Human-readable name of the template
                              example: "EKA EMR Template"
                            status:
                              type: string
                              enum: ["success", "partial_success", "failure"]
                              description: Processing status of the template
                              example: "success"
                            errors:
                              type: array
                              description: Array of error messages if any
                              items:
                                type: string
                              example: []
                            warnings:
                              type: array
                              description: Array of warning messages if any
                              items:
                                type: string
                              example: []
                      additional_data:
                        type: object
                        description: Additional contextual data from the transaction
                        additionalProperties: true
                        example:
                          "mode": "dictation"
                          doctor:
                            _id: "174097180967921"
                          visitid: "09e4f00f-d665-4212-b77c-b2dd5f22bd92_1742560488782"
        "202":
          description: Transaction is still in progress - continue polling
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      output:
                        type: array
                        description: Empty array when processing is in progress
                        items: {}
                        example: []
                      additional_data:
                        type: object
                        description: Additional contextual data from the transaction
                        additionalProperties: true
        "206":
          description: Partial success - some templates succeeded, others failed or partially succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      output:
                        type: array
                        description: Array of processed template results with mixed statuses
                        items:
                          type: object
                          properties:
                            template_id:
                              type: string
                              example: "eka_emr_template"
                            value:
                              type: string
                              example: ""
                            type:
                              type: string
                              example: "eka_emr"
                            name:
                              type: string
                              example: "EKA EMR Template"
                            status:
                              type: string
                              enum: ["success", "partial_success", "failure"]
                              example: "partial_success"
                            errors:
                              type: array
                              items:
                                type: string
                              example: ["Unable to extract medication dosage"]
                            warnings:
                              type: array
                              items:
                                type: string
                              example: ["Low confidence in diagnosis section"]
                      additional_data:
                        type: object
                        additionalProperties: true
        "400":
          description: Bad Request - Transaction not found or request failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: ["missing_business_id", "transaction_not_found"]
                        example: "transaction_not_found"
                      msg:
                        type: string
                        example: "Transaction doesn't exist"
        "401":
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid or missing authentication token"
        "500":
          description: Internal Server Error - System failure or all templates failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: ["system_error", "output_not_available"]
                        example: "system_error"
                      msg:
                        type: string
                        example: "Error in generating output file"

  /v1/file-upload:
    post:
      summary: File Upload
      description: |
        This endpoint generates presigned URLs for uploading audio files to S3. It provides the necessary credentials and upload parameters to securely upload files directly to AWS S3.
        
        The process involves two main steps:
        - **Request Presigned URL**: Call this endpoint to get folderPath and uploadData
        - **Upload File**: Use the returned `uploadData` and `folderPath` to upload your file to S3 using multipart form data
      parameters:
        - name: txn_id
          in: query
          required: true
          description: Session ID for file upload
          schema:
            type: string
            example: "txn_301"
        - name: action
          in: query
          required: false
          description: Upload action type
          schema:
            type: string
            enum: [ekascribe, ekascribe-v2]
            default: ekascribe-v2
            example: "ekascribe-v2"
            
      security:
        - auth: []
      responses:
        "200":
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadData:
                    type: object
                    description: Contains the S3 upload URL and required form fields
                    properties:
                      url:
                        type: string
                        description: S3 bucket URL for uploading the file
                        example: "https://m-prod-ekascribe-batch.s3.amazonaws.com/"
                      fields:
                        type: object
                        description: Required form fields for S3 upload
                        properties:
                          x-amz-meta-mode:
                            type: string
                            example: "dictation"
                          key:
                            type: string
                            description: S3 key path with ${filename} placeholder
                            example: "EC_173210496011417/txn_301/20250617_105524/${filename}"
                          x-amz-algorithm:
                            type: string
                            example: "AWS4-HMAC-SHA256"
                          x-amz-credential:
                            type: string
                            example: "ASIAYES5P2B2ZIB4II4R/20250617/ap-south-1/s3/aws4_request"
                          x-amz-date:
                            type: string
                            example: "20250617T105524Z"
                          x-amz-security-token:
                            type: string
                            description: AWS security token for authentication
                          policy:
                            type: string
                            description: Base64 encoded policy document
                          x-amz-signature:
                            type: string
                            description: AWS signature for the request
                        additionalProperties: true
                  folderPath:
                    type: string
                    description: The folder path where files will be stored in S3
                    example: "EC_173210496011417/txn_301/20250617_105524/"
                  txn_id:
                    type: string
                    description: Transaction ID to be used for subsequent operations
                    example: "txn_301"
        "400":
          description: Bad Request - Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
        "401":
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Unauthorized"
                  message:
                    type: string
                    example: "Invalid or missing authentication token"
        "403":
          description: Upload failed (expired policy)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code

components:
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer authentication header of the form `Bearer <token>`, where `<token>` is your auth token.