openapi: 3.1.0
info:
  title: Notification Connect
  description: |-
    | **Pipeline** | **Release Date** |
    | --- | --- |
    | Registration API | 12th Aug, 2024 |
  version: 1.0.0
servers:
  - url: https://api.eka.care
  - url: https://api.dev.eka.care
components:
  schemas:
    AddDeviceRequest:
      type: object
      properties:
        devicePayload:
          type: object
          properties:
            app-id:
              description: Application ID
              type: string
            app-platform:
              description: Application Platform
              type: string
            app-version:
              description: Application Version
              type: string
            did:
              description: Device ID
              type: string
            fcm-id:
              description: FCM ID
              type: string
            fid:
              description: FID
              type: string
            lang:
              description: Language
              type: string
            os-version:
              description: OS Version
              type: string
            user-hash:
              description: User Hash, can be empty
              type: string
      description: >-
        The request body must contain the device payload information.
        The format should be:

        ```json
        {
          "devicePayload": {
            "app-id": "string",
            "app-platform": "string",
            "app-version": "string",
            "did": "string",
            "fcm-id": "string",
            "fid": "string",
            "lang": "string",
            "os-version": "string",
            "user-hash": "string"
          }
        }
        ```
      example:
        devicePayload:
          app-id: 123
          app-platform: android
          app-version: 1.0.0
          did: 123
          fcm-id: 123
          fid: 123
          lang: en
          os-version: 1.0.0
          user-hash: 123
    FCMPayload:
      type: object
      properties:
        sa_key:
          type: object
          properties:
            type:
              description: Service Account Key
              type: string
            project_id:
              description: Project ID
              type: string
            private_key_id:
              description: Private Key ID
              type: string
            private_key:
              description: Private Key
              type: string
            client_email:
              description: Client Email
              type: string
            client_id:
              description: Client ID
              type: string
            auth_uri:
              description: Auth URI
              type: string
            token_uri:
              description: Token URI
              type: string
            auth_provider_x509_cert_url:
              description: Auth Provider X509 Cert URL
              type: string
            client_x509_cert_url:
              description: Client X509 Cert URL
              type: string
            universal_domain:
              description: Universal Domain
              type: string
      description: >-
        The request body must contain the FCM payload information.
        The format should be:

        ```json
        {
          "sa_key": {
            "type": "string",
            "project_id": "string",
            "private_key_id": "string",
            "private_key": "string",
            "client_email": "string",
            "client_id": "string",
            "auth_uri": "string",
            "token_uri": "string",
            "auth_provider_x509_cert_url": "string",
            "client_x509_cert_url": "string",
            "universal_domain": "string"
          }
        }
        ```
      example:
        sa_key:
          type: service_account
          project_id: example-project
          private_key_id: 1234567890abcdef
          private_key: -----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASC...\n-----END PRIVATE KEY-----\n
          client_email: example@example.iam.gserviceaccount.com
          client_id: 12345678901234567890
          auth_uri: https://accounts.google.com/o/oauth2/auth
          token_uri: https://oauth2.googleapis.com/token
          auth_provider_x509_cert_url: https://www.googleapis.com/oauth2/v1/certs
          client_x509_cert_url: https://www.googleapis.com/robot/v1/metadata/x509/example@example.iam.gserviceaccount.com
          universal_domain: example.com
paths:
  /notification/add-device:
    post:
      tags:
        - Notifications
      summary: Add Device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDeviceRequest'
      parameters:
        - name: auth
          in: header
          required: True
          description: >-
            The auth token of the user. It is used to authenticate the user.
          schema:
            type: string
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                success: true
        '4XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized
        '5XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized
  /notification/delete-device:
    delete:
      tags:
        - Notifications
      summary: Delete Device
      parameters:
        - name: auth
          in: header
          required: True
          description: >-
            The auth token of the user. It is used to authenticate the user.
          schema:
            type: string
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                success: true
        '4XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized
        '5XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized
  /notification/fcm-creds:
    post:
      operationId: addFcmCreds
      tags:
        - Notifications
      summary: Add FCM Credentials
      description: Store FCM credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FCMPayload'
      parameters:
        - name: auth
          in: header
          required: True
          description: >-
            The auth token of the user. It is used to authenticate the user.
          schema:
            type: string
          example: >-
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJiX2lkIjoiMTIzNDU2IiwiY2xpZW50X2lkIjoiNzg5MCIsImV4dHJhX2ZpZWxkIjoiZXh0cmFfZmllbGRfZGF0YSJ9.q9KzBI6f4l3OyM_EkB5Quq0l9EEMFh5JS-fx3F_PHUM
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                message: FCM token added successfully
        '4XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized
        '5XX':
          description: Error response
          content:
            application/json:
              example:
                message: unauthorized