openapi: "3.0.1"
info:
  title: voice-batch
  version: "2024-12-01T12:09:09Z"
servers:
  - url: https://api.eka.care
    description: Production server
  - url: https://api.dev.eka.care
    description: Development server
paths:
  /voice/upload?mode={mode}&txnid={txnid}:
    post:
      description: |-
        This API accepts audio files as input, transcribes the spoken content into text using advanced speech-to-text processing, and converts the transcribed data into a structured FHIR-compliant JSON format.

        The generated FHIR JSON can be used for seamless integration with healthcare applications, ensuring compliance with healthcare data standards.
      parameters:
        - name: txnid
          in: path
          required: true
          schema:
            type: string
        - name: mode
          in: path
          required: true
          schema:
            type: string
            enum:
              - dictation
              - consultation
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
              format: binary

      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "401":
          description: Unauthorized. Invalid or missing authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
      security:
        - auth: []
  /health/api/v1/fhir/retrieve:
    get:
      summary: Retrieve the prased data for the upload audio file
      description: Retrieve a parsed transcibes based on the given identifier
      parameters:
        - name: identifier
          in: query
          required: true
          description: The unique identifier for the health record is care_context_id.
          schema:
            type: string
      responses:
        "200":
          description: Successful retrieval of health records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceType:
                    type: string
                    example: Bundle
                  type:
                    type: string
                    example: document
                  link:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                        relation:
                          type: string
                  entry:
                    type: array
                    items:
                      type: object
                      properties:
                        resource:
                          type: object
                          properties:
                            author:
                              type: array
                              items:
                                type: object
                                properties:
                                  reference:
                                    type: string
                            date:
                              type: string
                              format: date-time
                            extension:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  valueString:
                                    type: string
                            id:
                              type: string
                            identifier:
                              type: object
                              properties:
                                system:
                                  type: string
                                value:
                                  type: string
                            meta:
                              type: object
                              properties:
                                lastUpdated:
                                  type: string
                                  format: date-time
                            resourceType:
                              type: string
                            section:
                              type: array
                              items:
                                type: object
                                properties:
                                  entry:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        reference:
                                          type: string
                                  title:
                                    type: string
                            status:
                              type: string
                            subject:
                              type: object
                              properties:
                                reference:
                                  type: string
                            title:
                              type: string
                            type:
                              type: object
                              properties:
                                text:
                                  type: string
                  id:
                    type: string
                  meta:
                    type: object
                    properties:
                      versionId:
                        type: string
                      lastUpdated:
                        type: string
                        format: date-time
                      profile:
                        type: array
                        items:
                          type: string
                      security:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            display:
                              type: string
                            system:
                              type: string
                  identifier:
                    type: object
                    properties:
                      system:
                        type: string
                      value:
                        type: string
                  timestamp:
                    type: string
                    format: date-time
        "404":
          description: when request identifier, hip_id, health_id has no data
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceType:
                    type: string
                    example: Bundle
                  type:
                    type: string
                    example: document
                  meta:
                    type: object
                    properties:
                      lastUpdated:
                        type: string
                        format: date-time
        "401":
          description: Unauthorized. Invalid or missing authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
      security:
        - auth: []
  /api/v1/transaction/commit/{session_id}:
    post:
      description: |-
        This API is used to end all audio transmissions for the given session ID. It commits the transaction and finalizes the session.

      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful transaction commit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Transaction committed successfully
                  data:
                    type: object
                    example:
                      {
                        "c_id": "12345678910111213",
                        "b_id": "12345678910111213",
                        "mode": "consultation",
                        "meta_data": "{'client_version': '2.1.0', 'device_type': 'iPhone 13', 'language': 'en-US', 'priority': 'high', 'message': {'hello': 'there'}}",
                        "status": "COMMIT",
                        "c_at": "2025-03-07T10:23:25Z",
                        "actor": "430b579b-e979-4c90-aa73-02af8fe9rfdad",
                        "sqs_files": ['1.m4a', '2.m4a'],
                        "transfer": "Stream",
                        "files": ['1.m4a', '2.m4a'],
                        "txn_id": "R-S3-195D5131-D014-56A8-ACCF-2F8F2D230DEC",
                        "u_at": "2025-03-07T10:23:25Z",
                        "user_status": "COMMIT"
                      }
        "404":
          description: Transaction not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  error:
                    type: string
                    example: Transaction not found
        "401":
          description: Unauthorized. Invalid or missing authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
      security:
        - auth: []

components:
  schemas:
    Success:
      title: Successful reponse
      type: object
      properties:
        message:
          type: string
        filename:
          type: string
      example:
        message: Upload successful!
        filename: voice-2rx.m4a
    Unauthorized:
      title: Unauthorized. Invalid or missing authentication.
      type: object
      properties:
        message:
          type: string
          example: Unauthorized
    Empty:
      title: "Empty Schema"
      type: "object"
  securitySchemes:
    auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
